:host ::ng-deep .mat-header-cell {
  color: #587bf7;
  font-size: 15px;
}
:host ::ng-deep .mat-cell, ::ng-deep .mat-footer-cell {
  color: #a3a3a3;
  font-size: 11px;
}
::ng-deep .mat-table {
  box-shadow: none;
  background-color: inherit;
}
.listing_list li a {
   font-size: 15px; 
   line-height: 1.6em;
}
.tables_btn {
  padding: 3px 18px;
}
::ng-deep .mat-paginator-container {
  background-color: #f1f1f1;
  color: #a3a3a3;
}