<app-header></app-header>


  <!-- banner part here -->
  <section class="find_infulencer section">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-12 second">
          <div class="banner_iner text-center">
            <div class="overlay_effect is_show">
              <h2 class="overlay_effect_in infu">How To Buy</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- banner part end -->

  <div class="marketplace">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-5 wow fadeInDown order-lg-0 order-md-1 order-1 mt-lg-0 mt-md-4 mt-4" data-wow-delay=".3s"
          style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
          <div class="section_title_new">
            <h2>Become a Buyer</h2>
            <div class="border-top mt-md-4 mt-3 mb-3"></div>
            <p>
              Browse through our Gramgenie marketplace and select your ideal influencer to boost your business sales.
            </p>
            <a href="javascript:;" class="button_comman" data-wow-delay=".5s">Get Started</a>
            <a href="javascript:;" class="button_comman" data-wow-delay=".5s">Learn More</a>
          </div>
        </div>
        <div class="col-lg-5 wow fadeInDown" data-wow-delay=".3s"
          style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
          <div class="text-right">
            <img src="assets/images/how-to-buy/Hero-Section.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="hire_any_influncer">
    <div class="container">
      <div
        class="row align-items-center justify-content-between px-lg-0 px-md-4 px-2 pt-lg-5 pt-md-4 pt-3 pb-lg-5 pb-md-4 pb-3">
        <div class="col-lg-6 pr-lg-5 wow fadeInDown" data-wow-delay=".3s"
          style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
          <div class="ideal_infulncer_right left-shadow">
            <img src="assets/images/how-to-buy/Hire-Influencer.jpg" alt="" />
          </div>
        </div>
        <div class="col-lg-6 pl-lg-5 wow fadeInDown mt-lg-0 mt-md-5 mt-4" data-wow-delay=".3s"
          style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
          <div class="section_title_new">
            <h2>
              Hire any influencer <br> From a variety of niches
            </h2>
            <div class="border-top mt-md-4 mt-3 mb-3"></div>
            <div class="approval_top">
              <ul class="mb-3 mt-md-4 mt-0 pt-md-2 list_tick">
                <li>
                  <p class="mb-0">
                    <img class="mr-2" src="assets/images/right-tick.png" alt="" />Technology
                  </p>
                </li>
                <li>
                  <p class="mb-0">
                    <img class="mr-2" src="assets/images/right-tick.png" alt="" />Art
                  </p>
                </li>
                <li>
                  <p class="mb-0">
                    <img class="mr-2" src="assets/images/right-tick.png" alt="" />Food
                  </p>
                </li>
                <li>
                  <p class="mb-0">
                    <img class="mr-2" src="assets/images/right-tick.png" alt="" />Gaming
                  </p>
                </li>
                <li>
                  <p class="mb-0">
                    <img class="mr-2" src="assets/images/right-tick.png" alt="" />Entertainment
                  </p>
                </li>
                <li>
                  <p class="mb-0">
                    <img class="mr-2" src="assets/images/right-tick.png" alt="" />Comedy
                  </p>
                </li>
              </ul>
            </div>
            <a routerLink="/categories" class="" data-wow-delay=".5s">See All Categories<i
                class="ti-angle-right mt-2"></i></a>
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-between pt-5 pb-5 my-lg-5 px-lg-0 px-md-4 px-2">
        <div class="col-lg-6 pr-lg-5 wow fadeInDown order-lg-0 order-md-1 order-1 mt-lg-0 mt-md-5 mt-4"
          data-wow-delay=".3s" style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
          <div class="section_title_new">
            <h2>
              Our Gramgenie platform will <br>
              help you find influencers you <br>
              need to accelerate your <br>
              business performance and sales
            </h2>
            <div class="border-top mt-md-4 mt-3 mb-3"></div>
            <div class="row how_it_work_points mx-0 mt-4">
              <div class="col px-0">
                <strong class="mb-2">Select and filter</strong>
                <p class="mb-0">
                  Our Gramgenie marketplace will benefit business owner to filter through different options to find
                  their influencer, whether it is an influencer from an artistic niche or an influencer with majority
                  European followers, you will find it all.
                </p>
              </div>
            </div>
            <div class="row how_it_work_points mx-0 mt-4">
              <div class="col px-0">
                <strong class="mb-2">Reputation and Feedback</strong>
                <p class="mb-0">
                  With the help of feedback, you can view the previous works which the influencer have provided to other
                  businesses thus bringing confidence in your purchase. The feedback will build reputation for both
                  buyer and influencer which will enable good business practices.
                </p>
              </div>
            </div>
            <div class="row how_it_work_points mx-0 mt-4">
              <div class="col px-0">
                <strong class="mb-2">Instagram account analyser</strong>
                <p class="mb-0">
                  The built-in Instagram account analyser will allow business owner to search the influencer they want
                  to work with and it will conduct a thorough analysis on followers, engagement rate, user activity,
                  upload numbers and other useful information.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 pl-lg-5 wow fadeInDown" data-wow-delay=".3s"
          style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
          <div class="ideal_infulncer_right right-shadow Gramgenie_platform_img">
            <img src="assets/images/how-to-buy/Niches.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="trade_confidently py-md-5 pt-4 pb-5 mb-lg-5">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-6 pr-lg-5 wow fadeInDown" data-wow-delay=".3s"
          style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
          <div class="ideal_infulncer_right">
            <img src="assets/images/how-to-buy/trade.png" alt="" />
          </div>
        </div>
        <div class="col-lg-6 pl-lg-5 wow fadeInDown mt-lg-0 mt-md-4 mt-4" data-wow-delay=".3s"
          style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
          <div class="section_title_new">
            <div class="row how_it_work_points mx-0 mt-4">
              <div class="col px-0">
                <strong class="mb-2">Trade confidently and securely</strong>
                <p class="mb-0">
                  Gramgenie will provide you with assurance and confidence whenever you purchase a service from an
                  influencer as we provide 100% protection for each transaction.
                </p>
              </div>
            </div>
            <div class="row how_it_work_points mx-0 mt-4">
              <div class="col px-0">
                <strong class="mb-2">Pay with confidence</strong>
                <p class="mb-0">
                  You can now pay with multiple vendors ranging from cryptocurrency to debit card, each payment made is
                  secured with the use of escrow. Essentially, you will only pay once the service is delivered.
                </p>
              </div>
            </div>
            <div class="row how_it_work_points mx-0 mt-4">
              <div class="col px-0">
                <strong class="mb-2">
                  Buy from a safe online marketplace</strong>
                <p class="mb-0">
                  Purchase advertisement services from influencer from a safe marketplace where buyers are protected
                  from fraudulent influencers.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class=" faq_part pb-lg-5 mb-5">
    <div class="container">
      <div class="section_tittle style_2 mb-lg-5 mb-md-4 mb-4 pb-0">
        <h2>Frequently Asked Questions</h2>
        <h5 class="base_color">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </h5>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="accordion" id="accordionExample">
            <div class="card wow fadeInDown" data-wow-delay=".3s" style="
                  visibility: visible;
                  animation-delay: 0.3s;
                  animation-name: fadeInDown;
                ">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="ti-minus"></i>
                    Lorem ipsum dolor sit amet consectetur
                  </button>
                </h2>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Neque aliquam ipsam vitae harum architecto ipsa
                    reprehenderit voluptatum dolorum facere porro incidunt,
                    labore obcaecati reiciendis, dicta eligendi distinctio at
                    quaerat mollitia.
                  </p>
                </div>
              </div>
            </div>
            <div class="card wow fadeInDown" data-wow-delay=".3s" style="
                  visibility: visible;
                  animation-delay: 0.3s;
                  animation-name: fadeInDown;
                ">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="ti-minus"></i>
                    Lorem ipsum dolor sit amet consectetur
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Neque aliquam ipsam vitae harum architecto ipsa
                    reprehenderit voluptatum dolorum facere porro incidunt,
                    labore obcaecati reiciendis, dicta eligendi distinctio at
                    quaerat mollitia.
                  </p>
                </div>
              </div>
            </div>
            <div class="card wow fadeInDown" data-wow-delay=".3s" style="
                  visibility: visible;
                  animation-delay: 0.3s;
                  animation-name: fadeInDown;
                ">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i class="ti-minus"></i>
                    Lorem ipsum dolor sit amet consectetur
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Neque aliquam ipsam vitae harum architecto ipsa
                    reprehenderit voluptatum dolorum facere porro incidunt,
                    labore obcaecati reiciendis, dicta eligendi distinctio at
                    quaerat mollitia.
                  </p>
                </div>
              </div>
            </div>

            <div class="card wow fadeInDown" data-wow-delay=".3s" style="
                  visibility: visible;
                  animation-delay: 0.3s;
                  animation-name: fadeInDown;
                ">
              <div class="card-header" id="headingfour">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                    <i class="ti-minus"></i>
                    Lorem ipsum dolor sit amet consectetur
                  </button>
                </h2>
              </div>
              <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Neque aliquam ipsam vitae harum architecto ipsa
                    reprehenderit voluptatum dolorum facere porro incidunt,
                    labore obcaecati reiciendis, dicta eligendi distinctio at
                    quaerat mollitia.
                  </p>
                </div>
              </div>
            </div>

            <div class="card wow fadeInDown" data-wow-delay=".3s" style="
                  visibility: visible;
                  animation-delay: 0.3s;
                  animation-name: fadeInDown;
                ">
              <div class="card-header" id="headingsix">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                    <i class="ti-minus"></i>
                    Lorem ipsum dolor sit amet consectetur
                  </button>
                </h2>
              </div>
              <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Neque aliquam ipsam vitae harum architecto ipsa
                    reprehenderit voluptatum dolorum facere porro incidunt,
                    labore obcaecati reiciendis, dicta eligendi distinctio at
                    quaerat mollitia.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<app-footer></app-footer>