  <div class="offcanvas_overlay"></div>
      <header class="header_part classic_header menu_item_padding position_abs infulencer-user-plan">
         <div class="container custom_container">
            <div class="row">
               <div class="col-lg-12">
                  <nav class="navbar navbar-expand-lg justify-content-between align-items-center">
                     <a class="navbar-brand main_logo" routerLink="/home">
                     <img src="assets/images/GGLogo-06.svg" alt="">
                     </a>
                     <div class="collapse navbar-collapse justify-content-start" id="navbarNavDropdown">
                        <form action="javascript:;" class="search_form">
                           <input type="text" name="javascript:;" placeholder="Browse Gramgenie marketplace">
                           <i class="ti-search"></i>
                           <ul class="dhf">
                              <li class=" dropdown">
                                 <a class=" dropdown-toggle" href="javascript:;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 <i class="ti-angle-down"></i>
                                 </a>
                                 <ul class="dropdown-menu sel">
                                    <li>
                                       <a class="" routerLink="/corporate_agency">
                                          <img src="assets/images/famous-01.svg" alt="">
                                          <div class="">
                                             <span>Influencers</span>
                                             <p>Hire influencers our Gramgenie marketplace</p>
                                          </div>
                                       </a>
                                    </li>
                                    <li>
                                       <a class="" routerLink="/corporate_agency">
                                          <img src="assets/images/tick-01.svg" alt="">
                                          <div class="">
                                             <span>Pending
                                             Jobs</span>
                                             <p>Apply to jobs posted by business owners</p>
                                          </div>
                                       </a>
                                    </li>
                                 </ul>
                              </li>
                           </ul>
                        </form>
                     </div>
                     <div class="header_right_option">
                        <div class="infulencer-user-profile row align-items-center">
                           <div class="col-auto p-0">
                              <a class="create_list d-flex align-items-center" href="javascript:;"  routerLink="/create-a-job"><i class="fa fa-plus plus_size mr-1" aria-hidden="true"></i>Create a New job</a>
                           </div>
                           <div class="col px-md-3 px-1">
                              <a class="profile_btns" href="javascript:;"><img src="assets/images/infulencer-user-plan/Total-Earnings.png" alt=""></a>
                              <a class="profile_btns" href="javascript:;"><img src="assets/images/infulencer-user-plan/Help.png" alt=""></a>
                              <a class="profile_btns" href="javascript:;"><img src="assets/images/infulencer-user-plan/Notification.png" alt=""></a>
                              <a class="profile_btns" href="javascript:;"><img src="assets/images/cart.svg" alt=""></a>
                           </div>
                           <div class="dropdown col-auto profile_detailss px-0">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <img class="profile_detailss_icon" src="assets/images/infulencer-user-plan/User.png" alt="">
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                 <a href="javascript:;" class="row profile_detailss_profile align-items-center mx-0 mb-3">
                                    <div class="col-auto">
                                       <img src="assets/images/infulencer-user-plan/Username.png" alt="">
                                    </div>
                                    <div class="col pl-0">
                                       <div class="profile_detailss_inner">
                                          <strong class="d-block">
                                          Vishnu Jangid
                                          </strong>
                                          <span class="d-block">Influencer</span>
                                       </div>
                                    </div>
                                 </a>
                                 <div class="row mx-0">
                                    <div class="col-12">
                                       <a class="dropdown-item" href="javascript:;"><img src="assets/images/infulencer-user-plan/list.svg" alt=""> Create a job</a>
                                       <a class="dropdown-item" routerLink="/customer-profile"><img src="assets/images/infulencer-user-plan/view-profile.svg" alt=""> View Profile</a>
                                       <a class="dropdown-item" href="javascript:;"><img src="assets/images/infulencer-user-plan/message.svg" alt=""> Messages</a>
                                       <a class="dropdown-item" href="javascript:;"><img src="assets/images/infulencer-user-plan/feedback.svg" alt=""> Feedback</a>
                                       <a class="dropdown-item" href="javascript:;"><img src="assets/images/infulencer-user-plan/orders.svg" alt=""> Order</a>
                                       <a class="dropdown-item" href="javascript:;"><img src="assets/images/infulencer-user-plan/wellet.svg" alt=""> Wallets</a>
                                      <div class="dropdown_settings">
                                          <a class="dropdown-item" href="javascript:;"><img src="assets/images/infulencer-user-plan/account-setting.svg" alt="">Account Settings</a>
                                          <a class="dropdown-item" href="javascript:;"><img src="assets/images/infulencer-user-plan/help.svg" alt="">Help</a>
                                      </div>
                                       <a class="dropdown-item" href="javascript:;" (click)="signOut()"><img src="assets/images/infulencer-user-plan/Sign-out.png" alt="">Sign Out</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                     </div>
                  </nav>
               </div>
            </div>
         </div>
      </header>
      <!-- header part end -->
      <section class="company_profile_pages">
         <div class="container">
            <div class="row">
               <div class="col-md-4 manage_col d-flex align-items-stretch">
                  <div class="company_profile_details comman_design_tabs">
                     <div class="profile_top_box border-bottom">
                        <div class="profile_bg_part position-relative">
                           <img src="assets/images/influencer-profile/business-banner.jpg" alt="">
                           <span class="profile_tag1">Business Owner</span>
                           <span class="profile_tag2">Member since 09/07/2021</span>
                        </div>
                        <div class="profile_details_main">
                           <div class="row mx-3">
                              <div class="col-md-auto">
                                 <a class="profile_updated" href="javascript:;"><img
                                       src="assets/images/influencer-profile/business-portrait.png" alt=""></a>
                              </div>
                              <div class="col pl-0">
                                 <div class="profile_details_inner">
                                    <strong>Username <img class="tool_tip_img"
                                          src="assets/images/influencer-profile/right-tivkk.png" alt=""></strong>
                                    <span class="d-block"><i class="fa fa-map-marker mr-1"
                                          aria-hidden="true"></i>Edinburgh, United Kingdom</span>
                                    <div class="profile_main_btns mt-3">
                                       <a class="btn_1_profile" href="javascript:;">Follow</a>
                                       <a class="btn_2_profile" href="javascript:;">Message</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="profilee_followers_box ">
                           <div class="row mx-0">
                              <div class="col border-right py-2">
                                 <div class="profilee_followers">
                                    <strong><img src="assets/images/influencer-profile/followers.svg" alt="">
                                       65</strong>
                                    <span>Followers</span>
                                 </div>
                              </div>
                              <div class="col py-2">
                                 <div class="profilee_followers">
                                    <strong><img src="assets/images/influencer-profile/listing_ico.png" alt="">
                                       65</strong>
                                    <span>Orders Completed</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="project_link_box p-md-4 p-3">
                           <a class="" href="javascript:;">www.gramgenie.com/user/username
                           </a>
                        </div>
                     </div>
                     <div class="profile_edit py-md-4 py-3 border-bottom">
                        <div class="row mx-0 px-2 align-items-center">
                           <div class="col profile_edit_heading">
                              <strong>Profile</strong>
                           </div>
                           <div class="col-auto edit_icon">
                              <a href="javascript:;"><img src="assets/images/influencer-profile/edit.png" alt=""></a>
                           </div>
                           <div class="col-12 mt-md-3 mt-2">
                              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                 doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                 veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                                 voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cisquam
                                 est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
                                 quia non numquam eius mo magnam aliquam quaerat voluptatem. Ut enim ad minima
                                 veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
                                 aliquid ex ea commodi consequatur
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="profile_edit py-md-4 py-3 border-bottom">
                        <div class="row mx-0 px-2 align-items-center">
                           <div class="col profile_edit_heading">
                              <strong>Tags</strong>
                           </div>
                           <div class="col-auto edit_icon">
                              <a href="javascript:;"><img src="assets/images/influencer-profile/edit.png" alt=""></a>
                           </div>
                           <div class="col-12 mt-3 tags_box mb-md-5 mb-4">
                              <a href="javascript:;">UserHashTag1</a>
                              <a href="javascript:;">UserHashTag2</a>
                              <a href="javascript:;">UserHashTag3</a>
                              <a href="javascript:;">UserHashTagThree</a>
                              <a href="javascript:;">UserTag</a>
                           </div>
                        </div>
                     </div>
                     <div class="return_to_dashboard">
                        <a href="javascript:;"><img src="assets/images/influencer-profile/return.svg" alt="">Return
                           To Dashboard</a>
                     </div>
                  </div>
               </div>
               <div class="col-md-8 manage2_col2 d-flex align-items-stretch mt-lg-0 mt-md-4 mt-4">
                  <div class="company_profile_tabsss comman_design_tabs w-100 py-md-5 py-4 px-3">
                     <div class="company_profile_tabs">
                        <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
                           <li class="nav-item w-50 text-center" role="presentation">
                              <a class="nav-link active" id="profile1-tab" data-toggle="tab" href="#profile1" role="tab"
                                 aria-controls="profile1" aria-selected="true">Current Jobs</a>
                           </li>
                           <li class="nav-item w-50 text-center" role="presentation">
                              <a class="nav-link" id="profile2-tab" data-toggle="tab" href="#profile2" role="tab"
                                 aria-controls="profile2" aria-selected="false">Business Owner Feedback</a>
                           </li>
                        </ul>
                        <div class="tab-content mt-md-5 mt-4" id="myTabContent">
                           <div class="tab-pane fade show active" id="profile1" role="tabpanel"
                              aria-labelledby="profile1-tab">
                              <div class="profilee_tabss_content">
                                 <div class="profilee_tabss_tables">
                                    <div class="order-comman_tables table-responsive all_order_tables">
                                       <table class="table">
                                          <thead>
                                             <tr>
                                                <th scope="col">Platform</th>
                                                <th scope="col">Offer</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Delivery</th>
                                                <th scope="col">Details</th>
                                             </tr>
                                          </thead>
                                          <tbody>
                                             <tr>
                                                <td>Instagram</td>
                                                <td>Seling 24 hour post</td>
                                                <td><a href="javascript:;">60 USD</a></td>
                                                <td>24 hours</td>
                                                <td>
                                                   <div class="btns">
                                                      <a class="tables_btn btn-blue py-1" href="javascript:;">Details</a>
                                                      <a class="tables_btn btn-blue py-1" href="javascript:;">Buy</a>
                                                   </div>
                                                </td>
                                             </tr>
                                             <tr>
                                                <td>Instagram</td>
                                                <td>Seling 24 hour post</td>
                                                <td><a href="javascript:;">60 USD</a></td>
                                                <td>24 hours</td>
                                                <td>
                                                   <div class="btns">
                                                      <a class="tables_btn btn-blue py-1" href="javascript:;">Details</a>
                                                      <a class="tables_btn btn-blue py-1" href="javascript:;">Buy</a>
                                                   </div>
                                                </td>
                                             </tr>
                                             <tr>
                                                <td>Instagram</td>
                                                <td>Seling 24 hour post</td>
                                                <td><a href="javascript:;">60 USD</a></td>
                                                <td>24 hours</td>
                                                <td>
                                                   <div class="btns">
                                                      <a class="tables_btn btn-blue py-1" href="javascript:;">Details</a>
                                                      <a class="tables_btn btn-blue py-1" href="javascript:;">Buy</a>
                                                   </div>
                                                </td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="tab-pane fade" id="profile2" role="tabpanel" aria-labelledby="profile2-tab">
                              <div class="profilee_tabss_content">
                                 <div class="profiles_rating_part">
                                    <div class="rating_part_box mb-4">
                                       <strong>Rating Summary</strong>
                                       <h2>3.7</h2>
                                       <div class="rating_icons">
                                          <a href="javascript:;">
                                             <i class="fa fa-star"></i>
                                          </a>
                                          <a href="javascript:;">
                                             <i class="fa fa-star"></i>
                                          </a>
                                          <a href="javascript:;">
                                             <i class="fa fa-star"></i>
                                          </a>
                                          <a href="javascript:;">
                                             <i class="fa fa-star"></i>
                                          </a>
                                          <a href="javascript:;">
                                             <i class="fa fa-star"></i>
                                          </a>
                                          <span>684 Ratings</span>
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="col-12">
                                          <div class="row review_box_main">
                                             <div class="col-md-auto pr-md-0">
                                                <span class="review_box_ico"><img
                                                      src="assets/images/influencer-profile/business-portrait.png"
                                                      alt=""></span>
                                             </div>
                                             <div class="col">
                                                <div class="review_box_main_content">
                                                   <h2>Influencer Username</h2>
                                                   <span>Business owner • 24 hour story • Purchased</span>
                                                   <div class="rating_icons_new d-flex align-items-center mb-2">
                                                      <a href="javascript:;">
                                                         <i class="fa fa-star"></i>
                                                      </a>
                                                      <a href="javascript:;">
                                                         <i class="fa fa-star"></i>
                                                      </a>
                                                      <a href="javascript:;">
                                                         <i class="fa fa-star"></i>
                                                      </a>
                                                      <a href="javascript:;">
                                                         <i class="fa fa-star"></i>
                                                      </a>
                                                      <a href="javascript:;">
                                                         <i class="fa fa-star"></i>
                                                      </a>
                                                      <span>4.5</span>
                                                   </div>
                                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                      ad minim veniam.</p>
                                                </div>
                                             </div>
                                             <div class="col-auto timechat">
                                                <span>2 Days Ago</span>
                                             </div>
                                          </div>
                                          <div class="row review_box_main">
                                             <div class="col-md-auto pr-md-0">
                                                <span class="review_box_ico"><img
                                                      src="assets/images/influencer-profile/influencer_profile.png"
                                                      alt=""></span>
                                             </div>
                                             <div class="col">
                                                <div class="review_box_main_content">
                                                   <h2>Influencer Username</h2>
                                                   <span>Business owner • 24 hour story • Purchased</span>
                                                   <div class="rating_icons_new d-flex align-items-center mb-2">
                                                      <a href="javascript:;">
                                                         <i class="fa fa-star"></i>
                                                      </a>
                                                      <a href="javascript:;">
                                                         <i class="fa fa-star"></i>
                                                      </a>
                                                      <a href="javascript:;">
                                                         <i class="fa fa-star"></i>
                                                      </a>
                                                      <a href="javascript:;">
                                                         <i class="fa fa-star"></i>
                                                      </a>
                                                      <a href="javascript:;">
                                                         <i class="fa fa-star"></i>
                                                      </a>
                                                      <span>4.5</span>
                                                   </div>
                                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                      ad minim veniam.</p>
                                                </div>
                                             </div>
                                             <div class="col-auto timechat">
                                                <span>2 Days Ago</span>
                                             </div>
                                          </div>
                                          <div class="row review_box_main">
                                             <div class="col-md-auto pr-md-0">
                                                <span class="review_box_ico"><img
                                                      src="assets/images/influencer-profile/business-portrait.png"
                                                      alt=""></span>
                                             </div>
                                             <div class="col">
                                                <div class="review_box_main_content">
                                                   <h2>Influencer Username</h2>
                                                   <span>Business owner • 24 hour story • Purchased</span>
                                                   <div class="rating_icons_new d-flex align-items-center mb-2">
                                                      <a href="javascript:;">
                                                         <i class="fa fa-star"></i>
                                                      </a>
                                                      <a href="javascript:;">
                                                         <i class="fa fa-star"></i>
                                                      </a>
                                                      <a href="javascript:;">
                                                         <i class="fa fa-star"></i>
                                                      </a>
                                                      <a href="javascript:;">
                                                         <i class="fa fa-star"></i>
                                                      </a>
                                                      <a href="javascript:;">
                                                         <i class="fa fa-star"></i>
                                                      </a>
                                                      <span>4.5</span>
                                                   </div>
                                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                      ad minim veniam.</p>
                                                </div>
                                             </div>
                                             <div class="col-auto timechat">
                                                <span>2 Days Ago</span>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <footer class="footer_section">
         <div class="container">
            <div class="row justify-content-between">
               <div class="col-lg-3 col-sm-6 wow fadeInDown" data-wow-delay=".3s" style="
                  visibility: visible;
                  animation-delay: 0.3s;
                  animation-name: fadeInDown;
                  ">
                  <div class="single_footer_widget">
                     <a class="footer_logo" href="javascript:;"><img src="assets/images/footer_logo.png"
                        alt="" /></a>
                     <span class="">Any Questions?</span>
                     <a class="mail_part" href="javascript:;"><img src="assets/images/mail.png"
                        alt="" />support@Gramgenie</a>
                     <div class="row mt-md-4 mt-3 align-items-center">
                        <div class="col-md-auto">
                           <span class="m-0">Follow us:</span>
                        </div>
                        <div class="col px-0">
                           <div class="social_icons">
                              <a href="javascript:;"><img src="assets/images/Instagrama.png" alt="" /></a>
                              <a href="javascript:;"><img src="assets/images/facebook.png" alt="" /></a>
                              <a href="javascript:;"><img src="assets/images/Linkiden.png" alt="" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 offset-lg-1 col-sm-6 wow fadeInDown" data-wow-delay=".4s"
                  style=" visibility: visible; animation-delay: 0.4s; animation-name: fadeInDown;">
                  <div class="single_footer_widget footer_nav">
                     <h4>Gramgenie</h4>
                     <ul>
                        <li><a href="javascript:;">About us</a></li>
                        <li><a href="javascript:;">Blog</a></li>
                        <li><a href="javascript:;">Partnership</a></li>
                        <li><a href="javascript:;">Advertisements</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-2 col-sm-6 wow fadeInDown" data-wow-delay=".5s"
                  style=" visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
                  <div class="single_footer_widget footer_nav">
                     <h4>Support</h4>
                     <ul>
                        <li><a href="javascript:;">Contact us</a></li>
                        <li><a href="javascript:;">How to buy</a></li>
                        <li><a href="javascript:;">How to sell</a></li>
                        <li><a href="javascript:;">F.A.Q</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-2 col-sm-6 wow fadeInDown" data-wow-delay=".6s"
                  style=" visibility: visible; animation-delay: 0.6s; animation-name: fadeInDown;">
                  <div class="single_footer_widget footer_nav">
                     <h4>Legal</h4>
                     <ul>
                        <li><a href="javascript:;">Privacy policy</a></li>
                        <li><a href="javascript:;">Terms and conditions</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <div class="clearfix"></div>
      <section class="mode">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="copyright_part">
                     <div class="row align-items-center">
                        <div class="col-lg-6 ">
                           <p class="same">
                              © Copyright Gramgenie 2020.All Right Reserved.
                           </p>
                        </div>
                        <div class="col-lg-6 ">
                           <div class="social_icon">
                              <a href="javascript:;"><i class=""></i><img src="assets/images/Vector-Smart-.png"
                                 alt="" class="Vector-Smart" /></a>
                              <a href="javascript:;"><i class=""></i><img src="assets/images/Master-Card.png"
                                 alt="" class="Master-Card" /></a>
                              <a href="javascript:;"><i class=""></i><img src="assets/images/Amrican-Express.png"
                                 alt="" class="Amrican-Express" /></a>
                              <a href="javascript:;"><i class=""></i><img src="assets/images/Skrill.png" alt=""
                                 class="Skrill" /></a>
                              <a href="javascript:;"><i class=""></i><img src="assets/images/Coinbase.png" alt=""
                                 class="Coinbase" /></a>
                              <a href="javascript:;"><i class=""></i><img src="assets/images/Stripe.png" alt=""
                                 class="Stripe" /></a>
                              <a href="javascript:;"><i class=""></i><img src="assets/images/Pypal.png" alt=""
                                 class="Pypal" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
     