<app-header></app-header>

     <!-- banner part here -->
     <section _ngcontent-vya-c76="" class="find_infulencer section">
        <div _ngcontent-vya-c76="" class="container">
            <div _ngcontent-vya-c76="" class="row justify-content-center align-items-center">
                <div _ngcontent-vya-c76="" class="col-lg-12 second">
                    <div _ngcontent-vya-c76="" class="banner_iner text-center">
                        <div _ngcontent-vya-c76="" class="overlay_effect is_show"><h2 _ngcontent-vya-c76="" class="overlay_effect_in infu">Change Password</h2></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part end -->

    <section class="sign-inpage py-5">
        <div class="container py-lg-5">
            <div class="row align-items-center">
                <div class="col-md-6 px-lg-5 text-center order-md-0 order-1 mt-md-0 mt-4 wow fadeInDown" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">
                    <div class="form-outer px-xxl-4 px-xl-4 px-lg-0 px-md-0 px-0 mx-xxl-5 mx-xl-5 mx-lg-0 mx-md-0 mx-0" *ngIf="!otpLay">
                        <div class="sign-inpage-form">
                            <mat-card class="form_top">
                                <mat-card-header>
                                    <!-- <mat-card-title><h2>hello !</h2></mat-card-title> -->
                                    <mat-card-title><h3>Don't worry, happens to the best of us</h3></mat-card-title>
                                </mat-card-header>   
                            </mat-card>
                        </div> 
                        <form [formGroup]="changeForm" >
                            <div class="form-group"> 
                                <mat-form-field floatLabel="never" class="mt-n13">
                                <input matInput type="password" class="form-control border-radius-4px px-3" value="" placeholder="Enter old password"  formControlName="old_password"  required=""> 
                                <mat-error *ngIf="changeForm.get('old_password').hasError('minlength') && !changeForm.get('old_password').hasError('required')">
                                    Atlease 8 letters are required.
                                 </mat-error>
                                 <mat-error *ngIf="changeForm.get('old_password').hasError('pattern') && !changeForm.get('old_password').hasError('required')">
                                    Atleast one uppercase, lowercase, number and special character required.
                                 </mat-error>
                                 <mat-error *ngIf="changeForm.get('old_password').hasError('required')">
                                    Password is required. 
                                 </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="form-group"> 
                                <mat-form-field floatLabel="never" class="mt-n13">
                                <input matInput type="password" class="form-control border-radius-4px px-3" value="" placeholder="Enter new password"  formControlName="new_password"  required=""> 
                                <mat-error *ngIf="changeForm.get('new_password').hasError('minlength') && !changeForm.get('new_password').hasError('required')">
                                    Atlease 8 letters are required.
                                 </mat-error>
                                 <mat-error *ngIf="changeForm.get('new_password').hasError('pattern') && !changeForm.get('new_password').hasError('required')">
                                    Atleast one uppercase, lowercase, number and special character required.
                                 </mat-error>
                                 <mat-error *ngIf="changeForm.get('new_password').hasError('required')">
                                    Password is required. 
                                 </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group"> 
                                <mat-form-field floatLabel="never" class="mt-n13">
                                <input matInput type="password" class="form-control border-radius-4px px-3" value="" placeholder="Confirm new password"  formControlName="confirm_password"  required=""> 
                                <mat-error *ngIf="changeForm.get('confirm_password').hasError('minlength') && !changeForm.get('confirm_password').hasError('required')">
                                    Atlease 8 letters are required.
                                 </mat-error>
                                 <mat-error *ngIf="changeForm.get('confirm_password').hasError('required')">
                                    Please confirm your password. 
                                 </mat-error>
                                 <mat-error *ngIf="changeForm.get('confirm_password').hasError('mustMatch')">
                                    Password must match.
                                 </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="form-group mb-2 pt-4">
                            <button mat-raised-button class="submit" type="submit" (click)="doChange()" >Continue</button> 
                            </div> 
                        </form>
                    </div>
  
                 
                    <!-- <div class="form-outer px-xxl-4 px-xl-4 px-lg-0 px-md-0 px-0 mx-xxl-5 mx-xl-5 mx-lg-0 mx-md-0 mx-0" *ngIf="otpLay">
                        <div class="sign-inpage-form">
                            <div class="form_top mb-5">
                                <h2>hello !</h2>
                                <p>OTP sent to {{this.email.value}}</p>
                            </div>
                        </div>
                        <form>
                            <div class="form-group mb-3">
                                <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:4}"></ng-otp-input>
                            </div> 
                        <div class="form-group mb-3 pt-2">
                            <button mat-raised-button class="submit cursor-pointer" (click)="otpdone()">Verify OTP</button>
                        </div>
                            <p *ngIf="isresendButton" class="any_account text-primary"> {{timeLeft}} Sec</p>
                            <p *ngIf="!isresendButton" class="any_account">Did not receive the OTP<span style="font-family: Arial, Helvetica, sans-serif;">?</span> <a routerLink="/login" class="text-decoration-none" (click)="resend()">Resend OTP</a></p>
                        </form>
                    </div> -->
                </div>
                <div class="col-md-6 wow fadeInDown" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">
                    <div class="sign-in-img">
                        <img src="assets/images/Sign-in-artwork-01.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
  