<app-header></app-header>


  <!-- banner part here -->
  <section class="find_infulencer section">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-12 second">
          <div class="banner_iner text-center">
            <div class="overlay_effect is_show">
              <h2 class="overlay_effect_in infu">Become An Influencer</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- banner part end -->

  <div class="marketplace">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-5 wow fadeInDown order-lg-0 order-md-1 order-1 mt-lg-0 mt-md-4 mt-4" data-wow-delay=".3s"
          style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
          <div class="section_title_new">
            <h2>
              An innovative marketplace for <br />
              both buyers and sellers
            </h2>
            <div class="border-top mt-md-4 mt-3 mb-3"></div>
            <p>
              Find and build relationships with businesses within our
              Gramgenie marketplace. Start now.
            </p>
            <a href="javascript:;"  routerLink="/sign_up" class="button_comman" data-wow-delay=".5s">Sign Up</a>
          </div>
        </div>
        <div class="col-lg-5 wow fadeInDown" data-wow-delay=".3s"
          style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
          <div class="text-right">
            <img src="assets/images/become-an-infulencer/Hero-Image-01.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="our_platform py-lg-5 py-md-4">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-5 wow fadeInDown" data-wow-delay=".3s"
          style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
          <div class="section_title_new">
            <h2>Our Gramgenie Platform!</h2>
            <p class="our_rules mt-4">
              <strong>Earn & take control -</strong> Earn and boost your sales
              while taking control in finding your business partners with our
              Gramgenie marketplace, hit your financial goals and build a
              reputation.
            </p>
            <p class="our_rules mt-4">
              <strong>Earn & take control -</strong> Find different type of
              businesses to connect and start a new venture.
            </p>
            <p class="our_rules mt-4">
              <strong>Earn & take control -</strong> Search for pending jobs
              or have businesses come to you, while growing your page.
            </p>
          </div>
        </div>
        <div class="col-lg-5 wow fadeInDown mt-lg-0 mt-md-5 mt-5" data-wow-delay=".3s"
          style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
          <div class="our_platform_right">
            <div class="row">
              <div class="col-md-6 mb-md-4 mb-4">
                <div class="our_platform_box">
                  <img src="assets/images/become-an-infulencer/reputation.jpg" alt="" />
                  <span>Build A Reputation</span>
                </div>
              </div>
              <div class="col-md-6 mb-md-4 mb-4">
                <div class="our_platform_box">
                  <img src="assets/images/become-an-infulencer/boost-income.jpg" alt="" />
                  <span>Build A Reputation</span>
                </div>
              </div>
              <div class="col-md-6 mb-md-0 mb-4">
                <div class="our_platform_box">
                  <img src="assets/images/become-an-infulencer/showcase-potential.jpg" alt="" />
                  <span>Build A Reputation</span>
                </div>
              </div>
              <div class="col-md-6 mb-md-0 mb-0">
                <div class="our_platform_box">
                  <img src="assets/images/become-an-infulencer/find-jobs.jpg" alt="" />
                  <span>Build A Reputation</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="how-it-work py-5">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-5 wow fadeInDown" data-wow-delay=".3s"
          style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
          <div class="img_part">
            <img src="assets/images/become-an-infulencer/How-works-01.svg" alt="" />
          </div>
        </div>
        <div class="col-lg-5 mt-lg-0 mt-md-4 mt-4">
          <div class="section_title_new wow fadeInDown" data-wow-delay=".3s"
            style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
            <h2>How it Works<span style="font-family: Arial, Helvetica, sans-serif;">?</span></h2>
            <div class="row how_it_work_points mx-0 mt-4 pt-2 wow fadeInDown" data-wow-delay=".3s"
              style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
              <div class="col-lg-auto mb-lg-0 mb-md-2 mb-2 pl-lg-0">
                <span class="work_ico">
                  <img src="assets/images/become-an-infulencer/1.png" alt="" />
                </span>
              </div>
              <div class="col px-0">
                <strong class="mb-2">Create your profile (it’s free) </strong>
                <p class="mb-0">
                  An eye-catching profile and a client-focused overview will
                  help you as an influencer to find clients to work with you.
                  Including descriptive information about your page engagement
                  and analytics and services will make your page stand out.
                </p>
              </div>
            </div>
            <div class="row how_it_work_points mx-0 mt-4 pt-2 wow fadeInDown" data-wow-delay=".3s"
              style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
              <div class="col-lg-auto mb-lg-0 mb-md-2 mb-2 pl-lg-0">
                <span class="work_ico">
                  <img src="assets/images/become-an-infulencer/2.png" alt="" />
                </span>
              </div>
              <div class="col px-0">
                <strong class="mb-2">Find ways to earn</strong>
                <p class="mb-0">
                  Influencers have the flexibility to apply for jobs posted by
                  business owners, or they can easily create their own
                  advertisement which would be featured on the Gramgenie
                  marketplace, which would allow business owners to directly
                  view and make a transaction.
                </p>
              </div>
            </div>
            <div class="row how_it_work_points mx-0 mt-4 pt-2 wow fadeInDown" data-wow-delay=".3s"
              style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
              <div class="col-lg-auto mb-lg-0 mb-md-2 mb-2 pl-lg-0">
                <span class="work_ico">
                  <img src="assets/images/become-an-infulencer/3.png" alt="" />
                </span>
              </div>
              <div class="col px-0">
                <strong class="mb-2">Get paid securely</strong>
                <p class="mb-0">
                  Payments are automated into your account balance which can
                  be withdrawn to your bank account.
                </p>
              </div>
            </div>
            <div
              class="row how_it_work_points_btns mx-0 mt-4 pt-2 wow fadeInDown justify-content-lg-start justify-content-md-center justify-content-center"
              data-wow-delay=".3s" style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
              <a class="button_comman" href="javascript:;">Create profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="the_seal_of_approval py-lg-4">
    <div class="container py-4">
      <div class="section_title_new text-center mb-md-5 mb-4">
        <h2>Find Ways to Earn!</h2>
      </div>
      <div class="row align-items-center justify-content-between mb-md-4 mb-5">
        <div class="col-md-6 pr-lg-5 wow fadeInDown order-md-0 order-1 mt-md-0 mt-4" data-wow-delay=".3s"
          style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
          <div class="approval_box_content">
            <h3>Find your next business partner</h3>
            <p>
              Search on the Gramgenie marketplace for businesses who need
              advertisements for their products and services on your social
              platforms. Submit a proposal, set your rate and provide your
              excellent services.Search on the Gramgenie marketplace for
              businesses who need advertisements for their products and
              services on your social platforms. Submit a proposal, set your
              rate and provide your excellent services.
            </p>
          </div>
        </div>
        <div class="col-md-6 pl-lg-5 wow fadeInDown" data-wow-delay=".3s"
          style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown;">
          <div class="approval_box_img shadow">
            <img src="assets/images/become-an-infulencer/business-partner.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-between mb-md-4 mb-5">
        <div class="col-md-6 pr-lg-5 wow fadeInDown" data-wow-delay=".3s" style="
        visibility: visible;
        animation-delay: 0.3s;
        animation-name: fadeInDown;
      ">
          <div class="approval_box_img shadow">
            <img src="assets/images/become-an-infulencer/post-service.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-6 pl-lg-5 wow fadeInDown mt-md-0 mt-4" data-wow-delay=".3s" style="
              visibility: visible;
              animation-delay: 0.3s;
              animation-name: fadeInDown;
            ">
          <div class="approval_box_content">
            <h3>Post your services</h3>
            <p>
              Search on the Gramgenie marketplace for businesses who need
              advertisements for their products and services on your social
              platforms. Submit a proposal, set your rate and provide your
              excellent services.
            </p>
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-between mb-md-4 mb-5">
        <div class="col-md-6 pr-lg-5 wow fadeInDown order-md-0 order-1 mt-md-0 mt-4" data-wow-delay=".3s" style="
              visibility: visible;
              animation-delay: 0.3s;
              animation-name: fadeInDown;
            ">
          <div class="approval_box_content">
            <h3>How payments work</h3>
            <p>
              Search on the Gramgenie marketplace for businesses who need
              advertisements for their products and services on your social
              platforms. Submit a proposal, set your rate and provide your
              excellent services.
            </p>
          </div>
        </div>
        <div class="col-md-6 pl-lg-5 wow fadeInDown" data-wow-delay=".3s" style="
              visibility: visible;
              animation-delay: 0.3s;
              animation-name: fadeInDown;
            ">
          <div class="approval_box_img shadow">
            <img src="assets/images/become-an-infulencer/payments.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class=" faq_part pb-lg-5 mb-5">
    <div class="container">
      <div class="section_tittle style_2 mb-lg-5 mb-md-4 mb-4 pb-0 wow fadeInDown" class="wow fadeInDown"
        data-wow-delay=".3s" style="
            visibility: visible;
            animation-delay: 0.3s;
            animation-name: fadeInDown;
          ">
        <h2>Frequently Asked Questions</h2>
        <h5 class="base_color">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </h5>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="accordion" id="accordionExample">
            <div class="card wow fadeInDown" data-wow-delay=".3s" style="
                  visibility: visible;
                  animation-delay: 0.3s;
                  animation-name: fadeInDown;
                ">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="ti-minus"></i>
                    Lorem ipsum dolor sit amet consectetur
                  </button>
                </h2>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Neque aliquam ipsam vitae harum architecto ipsa
                    reprehenderit voluptatum dolorum facere porro incidunt,
                    labore obcaecati reiciendis, dicta eligendi distinctio at
                    quaerat mollitia.
                  </p>
                </div>
              </div>
            </div>
            <div class="card wow fadeInDown" data-wow-delay=".3s" style="
                  visibility: visible;
                  animation-delay: 0.3s;
                  animation-name: fadeInDown;
                ">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="ti-minus"></i>
                    Lorem ipsum dolor sit amet consectetur
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Neque aliquam ipsam vitae harum architecto ipsa
                    reprehenderit voluptatum dolorum facere porro incidunt,
                    labore obcaecati reiciendis, dicta eligendi distinctio at
                    quaerat mollitia.
                  </p>
                </div>
              </div>
            </div>
            <div class="card wow fadeInDown" data-wow-delay=".3s" style="
                  visibility: visible;
                  animation-delay: 0.3s;
                  animation-name: fadeInDown;
                ">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i class="ti-minus"></i>
                    Lorem ipsum dolor sit amet consectetur
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Neque aliquam ipsam vitae harum architecto ipsa
                    reprehenderit voluptatum dolorum facere porro incidunt,
                    labore obcaecati reiciendis, dicta eligendi distinctio at
                    quaerat mollitia.
                  </p>
                </div>
              </div>
            </div>
            <div class="card wow fadeInDown" data-wow-delay=".3s" style="
                  visibility: visible;
                  animation-delay: 0.3s;
                  animation-name: fadeInDown;
                ">
              <div class="card-header" id="headingfour">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                    <i class="ti-minus"></i>
                    Lorem ipsum dolor sit amet consectetur
                  </button>
                </h2>
              </div>
              <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Neque aliquam ipsam vitae harum architecto ipsa
                    reprehenderit voluptatum dolorum facere porro incidunt,
                    labore obcaecati reiciendis, dicta eligendi distinctio at
                    quaerat mollitia.
                  </p>
                </div>
              </div>
            </div>
            <div class="card wow fadeInDown" data-wow-delay=".3s" style="
                  visibility: visible;
                  animation-delay: 0.3s;
                  animation-name: fadeInDown;
                ">
              <div class="card-header" id="headingsix">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                    <i class="ti-minus"></i>
                    Lorem ipsum dolor sit amet consectetur
                  </button>
                </h2>
              </div>
              <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Neque aliquam ipsam vitae harum architecto ipsa
                    reprehenderit voluptatum dolorum facere porro incidunt,
                    labore obcaecati reiciendis, dicta eligendi distinctio at
                    quaerat mollitia.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<app-footer></app-footer>