  .listing_list li a {
     font-size: 15px; 
     line-height: 1.6em;
  }
  ::ng-deep .mat-expansion-panel-header {
    background-color: #d8d8d8 !important;
  }
  ::ng-deep .mat-expansion-panel {
    background-color: #e4e3e3;
  }
  