<app-header></app-header>

 <!-- banner part here -->
 <section class="find_infulencer section">
   <div class="container">
      <div class="row justify-content-center align-items-center">
         <div class="col-lg-12 second">
            <div class="banner_iner text-center">
               <div class="overlay_effect is_show">
                  <h2 class="overlay_effect_in infu">Find Influencers</h2>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- banner part end -->
<!-- our services part end -->
<section class="about_section about_more padding_top sp_font pt-50">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 first d-flex align-items-center order-lg-0 order-md-1 order-1">
            <div class="about_section_content">
               <div class="section_tittle style_2 wow fadeInDown" data-wow-delay=".5s"
                  style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
                  <h2>An innovative marketplace for
                     both buyers and sellers
                  </h2>
                  <div class="border-top my-3"></div>
                  <div class="subtitle_5">
                     <span>
                        Be a part of Gramgenie marketplace to find your ideal business partner to promote your
                        business or boost your sale and gain reputation amongst other influencers.
                     </span>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-6 second">
            <div class="img_section">
               <img src="assets/images/FindInfluencers/MainArtwork.svg" alt="deep">
               <div class="round_shape_animation"></div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- our services part -->
<section class="single_page_service ft_font single_service_padding service-area">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-sm-12">
            <div class="section_tittle style_2 wow fadeInDown" data-wow-delay=".5s"
               style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
               <h2>Where do you fit in<span style="font-family: Arial, Helvetica, sans-serif;">?</span></h2>
               <h5 class="base_color">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-6 col-sm-6 pt-2 wow fadeInDown" data-wow-delay=".3s"
            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">
            <div class="services-caption text-left mb-30">
               <div class="service-cap">
                  <span class="">I’m a </span>
                  <h4>Business owner</h4>
                  <p>Have the option to hire influencers or post your job on our marketplace for influencers to find
                     you.
                  </p>
                  <a href="">Learn More<i class="fa fa-chevron-right"></i></a>
               </div>
               <div class="ner">
                  <div class="service-icon2 text-left"></div>
               </div>
            </div>
         </div>
         <div class="col-lg-6 col-sm-6 wow fadeInDown pt-2" data-wow-delay=".3s"
            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">
            <div class="services-caption text-left mb-30">
               <div class="service-cap">
                  <span class="">I’m an</span>
                  <h4>Influencer</h4>
                  <p>Looking to earn money<span style="font-family: Arial, Helvetica, sans-serif;">?</span> Post details about your promotions or find customers on our marketplace.
                  </p>
                  <a href="">Learn More<i class="fa fa-chevron-right"></i></a>
               </div>
               <div class="ner">
                  <div class="service-icon text-left"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!--  -->
<section class="home-newsletter">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-sm-12">
            <div class="section_tittle style_2 wow fadeInDown" data-wow-delay=".5s"
               style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
               <h2>Get started today</h2>
               <h5 class="base_color">Lorem ipsum dolor sit amet, consectetur adipiscing elit </h5>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="single">
               <div class="input-group">
                  <input type="email" class="form-control" placeholder="">
                  <span class="input-group-btn">
                     <button class="btn btn-theme" type="submit">Get a demo</button>
                  </span>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<app-footer></app-footer>