 <div class="offcanvas_overlay"></div>
   <header class="header_part classic_header menu_item_padding position_abs infulencer-user-plan">
      <div class="container custom_container">
         <div class="row">
            <div class="col-lg-12">
               <nav class="navbar navbar-expand-lg justify-content-between align-items-center">
                  <a class="navbar-brand main_logo" routerLink="/home">
                     <img src="assets/images/GGLogo-06.svg" alt="">
                  </a>
                  <div class="collapse navbar-collapse justify-content-start" id="navbarNavDropdown">
                     <form action="javascript:;" class="search_form">
                        <input type="text" name="javascript:;" placeholder="Browse Gramgenie marketplace">
                        <i class="ti-search"></i>
                        <ul class="dhf">
                           <li class=" dropdown">
                              <a class=" dropdown-toggle" href="javascript:;" data-toggle="dropdown"
                                 aria-haspopup="true" aria-expanded="false">
                                 <i class="ti-angle-down"></i>
                              </a>
                              <ul class="dropdown-menu sel">
                                 <li>
                                    <a class="" routerLink="/corporate_agency">
                                       <img src="assets/images/famous-01.svg" alt="">
                                       <div class="">
                                          <span>Influencers</span>
                                          <p>Hire influencers our Gramgenie marketplace</p>
                                       </div>
                                    </a>
                                 </li>
                                 <li>
                                    <a class="" routerLink="/corporate_agency">
                                       <img src="assets/images/tick-01.svg" alt="">
                                       <div class="">
                                          <span>Pending
                                             Jobs</span>
                                          <p>Apply to jobs posted by business owners</p>
                                       </div>
                                    </a>
                                 </li>
                              </ul>
                           </li>
                        </ul>
                     </form>
                  </div>
                  <div class="header_right_option">
                     <div class="infulencer-user-profile row align-items-center">
                        <div class="col-auto p-0">
                           <a class="create_list d-flex align-items-center" href="javascript:;" routerLink="/create-a-job"><i
                                 class="fa fa-plus plus_size mr-1" aria-hidden="true"></i>Create a New job</a>
                        </div>
                        <div class="col px-md-3 px-1">
                           <a class="profile_btns" href="javascript:;"><img
                                 src="assets/images/infulencer-user-plan/Total-Earnings.png" alt=""></a>
                           <a class="profile_btns" href="javascript:;"><img
                                 src="assets/images/infulencer-user-plan/Help.png" alt=""></a>
                           <a class="profile_btns" href="javascript:;"><img
                                 src="assets/images/infulencer-user-plan/Notification.png" alt=""></a>
                           <a class="profile_btns" href="javascript:;"><img src="assets/images/cart.svg" alt=""></a>
                        </div>
                        <div class="dropdown col-auto profile_detailss px-0">
                           <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <img class="profile_detailss_icon" src="assets/images/infulencer-user-plan/User.png"
                                 alt="">
                           </button>
                           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a href="javascript:;" class="row profile_detailss_profile align-items-center mx-0 mb-3">
                                 <div class="col-auto">
                                    <img src="assets/images/infulencer-user-plan/Username.png" alt="">
                                 </div>
                                 <div class="col pl-0">
                                    <div class="profile_detailss_inner">
                                       <strong class="d-block">
                                          Vishnu Jangid
                                       </strong>
                                       <span class="d-block">Influencer</span>
                                    </div>
                                 </div>
                              </a>
                              <div class="row mx-0">
                                 <div class="col-12">
                                    <a class="dropdown-item" href="javascript:;" routerLink="/create-a-job"><img
                                          src="assets/images/infulencer-user-plan/list.svg" alt=""> Create a job</a>
                                    <a class="dropdown-item" routerLink="/customer-view-profile"><img
                                          src="assets/images/infulencer-user-plan/view-profile.svg" alt=""> View
                                       Profile</a>
                                    <a class="dropdown-item" href="javascript:;"><img
                                          src="assets/images/infulencer-user-plan/message.svg" alt=""> Messages</a>
                                    <a class="dropdown-item" href="javascript:;"><img
                                          src="assets/images/infulencer-user-plan/feedback.svg" alt=""> Feedback</a>
                                    <a class="dropdown-item" href="javascript:;"><img
                                          src="assets/images/infulencer-user-plan/orders.svg" alt=""> Order</a>
                                    <a class="dropdown-item" href="javascript:;"><img
                                          src="assets/images/infulencer-user-plan/wellet.svg" alt=""> Wallets</a>
                                    <div class="dropdown_settings">
                                       <a class="dropdown-item" href="javascript:;"><img
                                             src="assets/images/infulencer-user-plan/account-setting.svg" alt="">Account
                                          Settings</a>
                                       <a class="dropdown-item" href="javascript:;"><img
                                             src="assets/images/infulencer-user-plan/help.svg" alt="">Help</a>
                                    </div>
                                    <a class="dropdown-item" href="javascript:;" (click)="signOut()"><img
                                          src="assets/images/infulencer-user-plan/Sign-out.png" alt="">Sign Out</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                     </button>
                  </div>
               </nav>
            </div>
         </div>
      </div>
   </header>
   <!-- header part end -->
   <section class="influncer_plan">
      <div class="container">
         <div class="row">
            <div class="col-md-3">
               <div class="influncer_plan_tabs">
                  <ul class="nav nav-tabs">
                     <li class="nav-item" role="presentation">
                        <a routerLink="/customer-home" class="nav-link"><span class="influncer_tabs_ico"><img
                                 src="assets/images/infulencer-user-plan/Home.png" alt=""></span>Home</a>
                     </li>
                     <li class="nav-item">
                        <a routerLink="/customer-discovery" class="nav-link"><span class="influncer_tabs_ico"><img
                                 src="assets/images/infulencer-user-plan/Customer-Discovery.png" alt=""></span>Customer
                           Discovery</a>
                     </li>
                     <li class="nav-item">
                        <a routerLink="/customer-message" class="nav-link active"><span class="influncer_tabs_ico"><img
                                 src="assets/images/infulencer-user-plan/My-Messages.png" alt=""></span>My Messages</a>
                     </li>
                  </ul>
                  <div class="influncer_plans_inner_tabs">
                     <div class="tab_single_box accordion" id="accordionExample">
                        <div class="card mt-4">
                           <div class="card-header" id="headingOne">
                              <h2 class="mb-0">
                                 <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <img src="assets/images/infulencer-user-plan/Listings.png" alt="">Jobs
                                 </button>
                              </h2>
                           </div>
                           <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                              data-parent="#accordionExample">
                              <div class="card-body py-0">
                                 <ul class="listing_list mb-0">
                                    <li>
                                       <a routerLink="/my-job"><img src="assets/images/infulencer-user-plan/Arrow.png"
                                             alt="">
                                          My Jobs</a>
                                    </li>
                                    <li>
                                       <a routerLink="/all-job"><img src="assets/images/infulencer-user-plan/Arrow.png"
                                             alt="">
                                          All Jobs</a>
                                    </li>
                                    <li>
                                       <a routerLink="/create-a-job"><img
                                             src="assets/images/infulencer-user-plan/Arrow.png" alt="">
                                          Create a Job</a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="card mt-4">
                           <div class="card-header" id="headingOne">
                              <h2 class="mb-0">
                                 <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">
                                    <img src="assets/images/infulencer-user-plan/Listings.png" alt="">Orders
                                 </button>
                              </h2>
                           </div>
                           <div id="collapsetwo" class="collapse show" aria-labelledby="headingtwo"
                              data-parent="#accordionExample">
                              <div class="card-body py-0">
                                 <ul class="listing_list mb-0">
                                    <li>
                                       <a routerLink="/customer-orders-pending"><img
                                             src="assets/images/infulencer-user-plan/Arrow.png" alt="">
                                          Orders Pending</a>
                                    </li>
                                    <li>
                                       <a routerLink="/customer-currents-orders"><img
                                             src="assets/images/infulencer-user-plan/Arrow.png" alt="">
                                          Current Orders</a>
                                    </li>
                                    <li>
                                       <a routerLink="/customer-all-orders"><img
                                             src="assets/images/infulencer-user-plan/Arrow.png" alt="">
                                          All Order History</a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="card mt-4">
                           <div class="card-header" id="headingOne">
                              <h2 class="mb-0">
                                 <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapsethree" aria-expanded="true" aria-controls="collapsethree">
                                    <img src="assets/images/infulencer-user-plan/Tools.png" alt="">Tools
                                 </button>
                              </h2>
                           </div>
                           <div id="collapsethree" class="collapse show" aria-labelledby="headingthree"
                              data-parent="#accordionExample">
                              <div class="card-body py-0">
                                 <ul class="listing_list mb-0">
                                    <li>
                                       <a routerLink="/customer-analyzer"><img
                                             src="assets/images/infulencer-user-plan/Arrow.png" alt="">
                                          Customer Analyzer</a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="card mt-4">
                           <div class="card-header" id="headingOne">
                              <h2 class="mb-0">
                                 <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapsefour" aria-expanded="true" aria-controls="collapsefour">
                                    <img src="assets/images/infulencer-user-plan/Reports.png" alt="">Reports
                                 </button>
                              </h2>
                           </div>
                           <div id="collapsefour" class="collapse show" aria-labelledby="headingfour"
                              data-parent="#accordionExample">
                              <div class="card-body py-0">
                                 <ul class="listing_list mb-0">
                                    <li>
                                       <a routerLink="/customer-transaction-history"><img
                                             src="assets/images/infulencer-user-plan/Arrow.png" alt="">
                                          Transaction history</a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col">
               <div class="welcome_user">
                  <div class="row all_messages_part">
                     <div class="col-md-5 pl-md-0 mt-md-0 mt-4">
                        <div class="row mx-0 all_messages_list comman_design_tabs">
                           <div class="col-12">
                              <div class="row">
                                 <div class="col-12 heading_message">
                                    <h2>All Messages <a href="javascript:;"><img
                                             src="assets/images/infulencer-user-plan/edit.png" alt=""></a></h2>
                                 </div>
                                 <div class="col-12 mt-1">
                                    <form class="search_messages mb-0">
                                       <div class="form-group mb-0">
                                          <input type="text" class="form-control-custom select-form search_input1"
                                             placeholder="Search messages">
                                       </div>
                                    </form>
                                 </div>
                              </div>
                           </div>
                           <div class="col-12">
                              <div class="row messages_list_main">
                                 <div class="col-auto col-md-12 mt-3">
                                    <a class="messages_user active" href="javascript:;">
                                       <div class="row">
                                          <div class="col-12 text-right">
                                             <span class="timeline">1 day ago</span>
                                          </div>
                                          <div class="col-auto pr-0">
                                             <span class="messages_user_img"><img
                                                   src="assets/images/infulencer-user-plan/user_icon.png" alt=""></span>
                                          </div>
                                          <div class="col">
                                             <div class="messages_user_details">
                                                <span>SampleBusiness Inc.</span>
                                                <h2>GramGenie Username</h2>
                                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                   eiusmod</p>
                                             </div>
                                          </div>
                                       </div>
                                    </a>
                                 </div>
                                 <div class="col-auto col-md-12 mt-3">
                                    <a class="messages_user" href="javascript:;">
                                       <div class="row">
                                          <div class="col-12 text-right">
                                             <span class="timeline">1 day ago</span>
                                          </div>
                                          <div class="col-auto pr-0">
                                             <span class="messages_user_img"><img
                                                   src="assets/images/infulencer-user-plan/user_icon.png" alt=""></span>
                                          </div>
                                          <div class="col">
                                             <div class="messages_user_details">
                                                <span>SampleBusiness Inc.</span>
                                                <h2>GramGenie Username</h2>
                                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                   eiusmod</p>
                                             </div>
                                          </div>
                                       </div>
                                    </a>
                                 </div>
                                 <div class="col-auto col-md-12 mt-3">
                                    <a class="messages_user" href="javascript:;">
                                       <div class="row">
                                          <div class="col-12 text-right">
                                             <span class="timeline">1 day ago</span>
                                          </div>
                                          <div class="col-auto pr-0">
                                             <span class="messages_user_img"><img
                                                   src="assets/images/infulencer-user-plan/user_icon.png" alt=""></span>
                                          </div>
                                          <div class="col">
                                             <div class="messages_user_details">
                                                <span>SampleBusiness Inc.</span>
                                                <h2>GramGenie Username</h2>
                                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                   eiusmod</p>
                                             </div>
                                          </div>
                                       </div>
                                    </a>
                                 </div>
                                 <div class="col-auto col-md-12 mt-3">
                                    <a class="messages_user" href="javascript:;">
                                       <div class="row">
                                          <div class="col-12 text-right">
                                             <span class="timeline">1 day ago</span>
                                          </div>
                                          <div class="col-auto pr-0">
                                             <span class="messages_user_img"><img
                                                   src="assets/images/infulencer-user-plan/user_icon.png" alt=""></span>
                                          </div>
                                          <div class="col">
                                             <div class="messages_user_details">
                                                <span>SampleBusiness Inc.</span>
                                                <h2>GramGenie Username</h2>
                                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                   eiusmod</p>
                                             </div>
                                          </div>
                                       </div>
                                    </a>
                                 </div>
                                 <div class="col-auto col-md-12 mt-3">
                                    <a class="messages_user" href="javascript:;">
                                       <div class="row">
                                          <div class="col-12 text-right">
                                             <span class="timeline">1 day ago</span>
                                          </div>
                                          <div class="col-auto pr-0">
                                             <span class="messages_user_img"><img
                                                   src="assets/images/infulencer-user-plan/user_icon.png" alt=""></span>
                                          </div>
                                          <div class="col">
                                             <div class="messages_user_details">
                                                <span>SampleBusiness Inc.</span>
                                                <h2>GramGenie Username</h2>
                                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                   eiusmod</p>
                                             </div>
                                          </div>
                                       </div>
                                    </a>
                                 </div>
                                 <div class="col-auto col-md-12 mt-3">
                                    <a class="messages_user" href="javascript:;">
                                       <div class="row">
                                          <div class="col-12 text-right">
                                             <span class="timeline">1 day ago</span>
                                          </div>
                                          <div class="col-auto pr-0">
                                             <span class="messages_user_img"><img
                                                   src="assets/images/infulencer-user-plan/user_icon.png" alt=""></span>
                                          </div>
                                          <div class="col">
                                             <div class="messages_user_details">
                                                <span>SampleBusiness Inc.</span>
                                                <h2>GramGenie Username</h2>
                                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                   eiusmod</p>
                                             </div>
                                          </div>
                                       </div>
                                    </a>
                                 </div>
                                 <div class="col-auto col-md-12 mt-md-5 pt-md-4 pl-md-0">
                                    <a class="load_more" href="javascript:;">Load More</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col pl-md-0 mt-md-0 mt-4">
                        <div class="row mx-0 comman_design_tabs chat_part_design">
                           <div class="col-12 chat_header">
                              <a href="javascript:;" class="row align-items-center">
                                 <div class="col-auto pr-0">
                                    <span class="messages_user_img"><img
                                          src="assets/images/infulencer-user-plan/user_icon.png" alt=""></span>
                                 </div>
                                 <div class="col chat_header_details">
                                    <h3>GramGenie Username</h3>
                                    <span>Active Now</span>
                                 </div>
                              </a>
                           </div>
                           <div class="col-12 chat_main_part pb-0">
                              <div class="row user_chat">
                                 <div class="col-12 mb-4">
                                    <div class="row">
                                       <div class="col-auto">
                                          <span class="messages_user_img"><img
                                                src="assets/images/infulencer-user-plan/user_icon.png" alt=""></span>
                                       </div>
                                       <div class="col-lg-7 col px-0">
                                          <div class="user_message_content">
                                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor. incididunt</p>
                                          </div>
                                       </div>
                                       <div class="col-md-auto timechat">
                                          <span>3 days ago</span>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="row own_chat">
                                 <div class="col-12 mb-3">
                                    <div class="row">
                                       <div class="col-md-auto timechat">
                                          <span>3 days ago</span>
                                       </div>
                                       <div class="col-lg-7 col px-0">
                                          <div class="user_message_content">
                                             <p>Lorem ipsum dolor sit amet, consectetur..</p>
                                          </div>
                                       </div>
                                       <div class="col-auto">
                                          <span class="messages_user_img"><img
                                                src="assets/images/infulencer-user-plan/user_icon.png" alt=""></span>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-12 mb-3">
                                    <div class="row">
                                       <div class="col-md-7 col px-0">
                                          <div class="user_message_content">
                                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor. incididunt</p>
                                          </div>
                                       </div>
                                       <div class="col-auto">
                                          <span class="messages_user_img"><img
                                                src="assets/images/infulencer-user-plan/user_icon.png" alt=""></span>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="row user_chat">
                                 <div class="col-12 mb-3">
                                    <div class="row">
                                       <div class="col-auto">
                                          <span class="messages_user_img"><img
                                                src="assets/images/infulencer-user-plan/user_icon.png" alt=""></span>
                                       </div>
                                       <div class="col-md-4 col px-0">
                                          <div class="user_message_content">
                                             <p>Lorem ipsum dolor...</p>
                                          </div>
                                       </div>
                                       <div class="col-md-auto timechat">
                                          <span>3 days ago</span>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-12 mb-3">
                                    <div class="row">
                                       <div class="col-auto">
                                          <span class="messages_user_img"><img
                                                src="assets/images/infulencer-user-plan/user_icon.png" alt=""></span>
                                       </div>
                                       <div class="col-md-7 col px-0">
                                          <div class="user_message_content">
                                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor
                                                sit amet? </p>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>

                              <div class="row today_border">
                                 <div class="col-12 text-center">
                                    <span class="today_tag d-inline-flex ">
                                       Today

                                    </span>
                                 </div>
                              </div>



                              <div class="row own_chat mt-3">
                                 <div class="col-12 mb-3">
                                    <div class="row">
                                       <div class="col-md-auto timechat">
                                          <span>12:59 am</span>
                                       </div>
                                       <div class="col-md-5 col px-0">
                                          <div class="user_message_content">
                                             <p>Lorem ipsum dolor sit amet, consectetur..</p>
                                          </div>
                                       </div>
                                       <div class="col-auto">
                                          <span class="messages_user_img"><img
                                                src="assets/images/infulencer-user-plan/user_icon.png" alt=""></span>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-12 mb-3">
                                    <div class="row">
                                       <div class="col-md-auto timechat">
                                          <span>12:59 am</span>
                                       </div>
                                       <div class="col-md-5 col px-0">
                                          <div class="user_message_content">
                                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor. incididunt</p>
                                          </div>
                                       </div>
                                       <div class="col-auto">
                                          <span class="messages_user_img"><img
                                                src="assets/images/infulencer-user-plan/user_icon.png" alt=""></span>
                                       </div>

                                    </div>
                                 </div>
                              </div>
                              <div class="row user_chat">
                                 <div class="col-12 mb-3">
                                    <div class="row">
                                       <div class="col-auto">
                                          <span class="messages_user_img"><img
                                                src="assets/images/infulencer-user-plan/user_icon.png" alt=""></span>
                                       </div>
                                       <div class="col-md-7 col px-0">
                                          <div class="user_message_content">
                                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor
                                                sit amet? </p>
                                          </div>
                                       </div>
                                       <div class="col-md-auto timechat">
                                          <span>12:59 am</span>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="row user_chat">
                                 <div class="col-12 mb-3">
                                    <div class="row pdf_dwn">
                                       <div class="col-auto">
                                          <span class="messages_user_img"><img
                                                src="assets/images/infulencer-user-plan/user_icon.png" alt=""></span>
                                       </div>
                                       <div class="col-md-5 col-auto px-0">
                                          <div class="user_message_content mr-0 pb-0 overflow-hidden">
                                             <strong class="text-dark">Brief & Concept.pdf</strong>
                                             <span class="d-block text-primary fs-10  ">No Virus-50.50 MB</span>
                                             <div class="row mt-md-4 mt-2">
                                                <div class="col-12 px-0">
                                                   <button type="button"
                                                      class="btn btn-primary w-100 text-left">Download</button>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-auto timechat">
                                          <span>12:59 am</span>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="row input_box">
                                 <div class="col-12 mt-3">
                                    <div class="input-group align-items-center py-1 ">
                                       <a class="ti-files pl-3 " href="javascript:;"></a>
                                       <a class="ti-face-smile px-2" href="javascript:;"></a>
                                       <input type="text" class="form-control border-0"
                                          placeholder="Type a message here." aria-label="Recipient's username"
                                          aria-describedby="button-addon2">
                                       <button class="btn border-0" type="button" id="button-addon2">
                                          <img src="assets/images/infulencer-user-plan/2021-08-24.png"
                                             class="img-fluid " alt="">
                                       </button>
                                    </div>

                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <footer class="footer_section">
      <div class="container">
         <div class="row justify-content-between">
            <div class="col-lg-3 col-sm-6 wow fadeInDown" data-wow-delay=".3s" style="
                  visibility: visible;
                  animation-delay: 0.3s;
                  animation-name: fadeInDown;
                  ">
               <div class="single_footer_widget">
                  <a class="footer_logo" href="javascript:;"><img src="assets/images/footer_logo.png" alt="" /></a>
                  <span class="">Any Questions?</span>
                  <a class="mail_part" href="javascript:;"><img src="assets/images/mail.png"
                        alt="" />support@Gramgenie</a>
                  <div class="row mt-md-4 mt-3 align-items-center">
                     <div class="col-md-auto">
                        <span class="m-0">Follow us:</span>
                     </div>
                     <div class="col px-0">
                        <div class="social_icons">
                           <a href="javascript:;"><img src="assets/images/Instagrama.png" alt="" /></a>
                           <a href="javascript:;"><img src="assets/images/facebook.png" alt="" /></a>
                           <a href="javascript:;"><img src="assets/images/Linkiden.png" alt="" /></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-sm-6 wow fadeInDown" data-wow-delay=".4s"
               style=" visibility: visible; animation-delay: 0.4s; animation-name: fadeInDown;">
               <div class="single_footer_widget footer_nav">
                  <h4>Gramgenie</h4>
                  <ul>
                     <li><a href="javascript:;">About us</a></li>
                     <li><a href="javascript:;">Blog</a></li>
                     <li><a href="javascript:;">Partnership</a></li>
                     <li><a href="javascript:;">Advertisements</a></li>
                  </ul>
               </div>
            </div>
            <div class="col-lg-2 col-sm-6 wow fadeInDown" data-wow-delay=".5s"
               style=" visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
               <div class="single_footer_widget footer_nav">
                  <h4>Support</h4>
                  <ul>
                     <li><a href="javascript:;">Contact us</a></li>
                     <li><a href="javascript:;">How to buy</a></li>
                     <li><a href="javascript:;">How to sell</a></li>
                     <li><a href="javascript:;">F.A.Q</a></li>
                  </ul>
               </div>
            </div>
            <div class="col-lg-2 col-sm-6 wow fadeInDown" data-wow-delay=".6s"
               style=" visibility: visible; animation-delay: 0.6s; animation-name: fadeInDown;">
               <div class="single_footer_widget footer_nav">
                  <h4>Legal</h4>
                  <ul>
                     <li><a href="javascript:;">Privacy policy</a></li>
                     <li><a href="javascript:;">Terms and conditions</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </footer>
   <div class="clearfix"></div>
   <section class="mode">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="copyright_part">
                  <div class="row align-items-center">
                     <div class="col-lg-6 ">
                        <p class="same">
                           © Copyright Gramgenie 2020.All Right Reserved.
                        </p>
                     </div>
                     <div class="col-lg-6 ">
                        <div class="social_icon">
                           <a href="javascript:;"><i class=""></i><img src="assets/images/Vector-Smart-.png" alt=""
                                 class="Vector-Smart" /></a>
                           <a href="javascript:;"><i class=""></i><img src="assets/images/Master-Card.png" alt=""
                                 class="Master-Card" /></a>
                           <a href="javascript:;"><i class=""></i><img src="assets/images/Amrican-Express.png" alt=""
                                 class="Amrican-Express" /></a>
                           <a href="javascript:;"><i class=""></i><img src="assets/images/Skrill.png" alt=""
                                 class="Skrill" /></a>
                           <a href="javascript:;"><i class=""></i><img src="assets/images/Coinbase.png" alt=""
                                 class="Coinbase" /></a>
                           <a href="javascript:;"><i class=""></i><img src="assets/images/Stripe.png" alt=""
                                 class="Stripe" /></a>
                           <a href="javascript:;"><i class=""></i><img src="assets/images/Pypal.png" alt=""
                                 class="Pypal" /></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
  