<app-header></app-header>


  <!-- banner part here -->
  <section class="find_infulencer section">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-12 second">
          <div class="banner_iner text-center">
            <div class="overlay_effect is_show">
              <h2 class="overlay_effect_in infu">Get Paid To Post</h2>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
              <a class="start_selling_btn" href="javascript:;">start selling for free</a>
              <span>Free Registration!</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- banner part end -->

  <div class="fee_details py-5">
    <div class="container py-xxl-5 py-xl-5">
      <div class="row align-items-center justify-content-between px-lg-0 px-md-4 px-2">
        <div class="col-lg-6 pr-xxl-5 pr-xl-5 wow fadeInDown order-lg-0 order-md-1 order-1 mt-lg-0 mt-md-5 mt-4"
          data-wow-delay=".3s" style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
          <div class="section_title_new">
            <div class="row how_it_work_points mx-0 mt-md-3">
              <div class="col-lg-auto pl-0 pr-2">
                <span class="work_ico">
                  <img src="assets/images/right-tick.png" alt="" />
                </span>
              </div>
              <div class="col px-0">
                <strong class="mb-2">Low Fees</strong>
                <p class="mb-0">
                  It is free to register on our Gramgenie platform as a seller and to post advertisement services. Once
                  a transaction is completed, Gramgenie will charge a small transaction fee.
                </p>
              </div>
            </div>
            <div class="row how_it_work_points mx-0 mt-3">
              <div class="col-lg-auto pl-0 pr-2">
                <span class="work_ico">
                  <img src="assets/images/right-tick.png" alt="" />
                </span>
              </div>
              <div class="col px-0">
                <strong class="mb-2">Powerful Tools</strong>
                <p class="mb-0">
                  Our tools and services will make it easier for you to find, manage and control your business.
                </p>
              </div>
            </div>
            <div class="row how_it_work_points mx-0 mt-3">
              <div class="col-lg-auto pl-0 pr-2">
                <span class="work_ico">
                  <img src="assets/images/right-tick.png" alt="" />
                </span>
              </div>
              <div class="col px-0">
                <strong class="mb-2">Support and Community</strong>
                <p class="mb-0">
                  Gramgenie’s customer support are always ready to help.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 pl-lg-5 wow fadeInDown" data-wow-delay=".3s"
          style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
          <div class="ideal_infulncer_right right-shadow text-right">
            <img src="assets/images/how-to-sell/first-se-image.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="becoming py-xxl-5 py-xl-5">
    <div class="container py-lg-5 py-md-4 py-4">
      <div class="row align-items-center justify-content-between px-lg-0 px-md-4 px-2">
        <div class="col-lg-6 pr-xxl-5 pr-xl-5 wow fadeInDown" data-wow-delay=".3s"
          style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
          <div class="ideal_infulncer_right left-shadow pr-xxl-5 pr-xl-5">
            <img src="assets/images/how-to-sell/second-image.jpg" alt="" />
            <div class="section_title_new mt-5">
              <h2>Making your first sale</h2>
              <p class="mt-4">
                It is highly important that influencers maximise in entering sufficient details and description of their
                services and the statistics of their social profile as this will bring in more interests from business
                owners.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 pl-lg-5 wow fadeInDown mt-lg-0 mt-md-4 mt-4" data-wow-delay=".3s"
          style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
          <div class="section_title_new">
            <h2>
              Becoming an Influencer <br> on Gramgenie!
            </h2>
            <div class="border-top mt-md-4 mt-3 mb-3"></div>
            <p>
              It is safe to say that majority of the influencers on social media platform would want to make an extra
              income by utilising their audience and helping businesses to gain exposure. It could also be a risky
              business when it comes to payment which leads to scams, therefore Gramgenie has ensured to minimise these
              risks and to maximise ethical business practices between business owners and influencers.
            </p>
            <p>
              It is important that you know as an influencer in which niche your page operates in. Niche can be defined
              as different topics within Instagram, for example influencers can operate in different niche’s such as
              technology, food, art, travel, humour, entertainment and others. It is important, that you define which
              niche your platform operates in during the registration phase. This will allow business owners to filter
              through on the Gramgenie marketplace and pinpoint the niche they want their products and services to be
              advertised in.
            </p>
            <p>
              Our platform would be a good medium for influencers to showcase their profiles to businesses across the
              world, thus creating business partners and reputation on the Gramgenie platform. Influencer can take
              advantage of our services which would help monetize their social profiles whether it is in Instagram,
              YouTube, Facebook, Twitter or TikTok.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="register_with py-lg-5 py-md-4 py-0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section_title_new text-center mb-lg-5 mb-md-4 mb-4 pb-xxl-4 pb-xl-4 wow fadeInDown"
            data-wow-delay=".3s" style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
            <h2>Register with the platform your platform belongs to
            </h2>
          </div>
        </div>
        <div class="col-md-3 d-flex align-items-stretch wow fadeInDown mb-mb-0 mb-4" data-wow-delay=".3s"
          style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; " >
          <div class="our_platform_box w-100">
            <img src="assets/images/how-to-sell/category-1.jpg" alt="" />
            <span>Art</span>
          </div>
        </div>
        <div class="col-md-3 d-flex align-items-stretch wow fadeInDown mb-mb-0 mb-4" data-wow-delay=".3s"
          style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; " >
          <div class="our_platform_box w-100">
            <img src="assets/images/how-to-sell/category-2.jpg" alt="" />
            <span>Humor</span>
          </div>
        </div>
        <div class="col-md-3 d-flex align-items-stretch wow fadeInDown mb-mb-0 mb-4" data-wow-delay=".3s"
          style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; " >
          <div class="our_platform_box w-100">
            <img src="assets/images/how-to-sell/category-3.jpg" alt="" />
            <span>Technology</span>
          </div>
        </div> 
        <div class="col-md-3 d-flex align-items-stretch wow fadeInDown mb-mb-0 mb-4" data-wow-delay=".3s"
          style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
          <div class="categories_box w-100">
            <strong>Categories</strong>
            <a routerLink="/categories" class="" data-wow-delay=".5s">View More<i class="ti-angle-right fs-12"></i></a>
            <div class="img_category">
              <img src="assets/images/how-to-sell/categories-icon-01.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="a-secure pb-lg-5 pt-5">
    <div class="container">
      <div class="row align-items-center py-xxl-5 py-xl-5">
        <div class="col-lg-6 pr-md-5 wow fadeInDown order-lg-0 order-md-1 order-1 mt-lg-0 mt-md-4 mt-4"
          data-wow-delay=".3s" style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
          <div class="secure_content pr-lg-5">
            <div class="section_title_new">
              <h2>A secure and reliable
                <br>marketplace for influencers
              </h2>
              <ul class="list_dots mt-4">
                <li>
                  <p class="">100% protection against buyer payment fraud</p>
                </li>
                <li>
                  <p class="">Accept payments from buyers globally</p>
                </li>
                <li>
                  <p class="">No membership fees</p>
                </li>
                <li>
                  <p class="">No listing fees</p>
                </li>
                <li>
                  <p class="">
                    Advertising and promotional tools to boost sales
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInDown" data-wow-delay=".3s"
          style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
          <div class="img_part">
            <img src="assets/images/how-to-sell/secure-marketplace.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="row align-items-center py-5 mb-xxl-4 mb-xxl-4 mb-xxl-5 mb-xxl-5">
        <div class="col-lg-6 pr-lg-5 wow fadeInDown" data-wow-delay=".3s"
          style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
          <div class="img_part text-center">
            <img src="assets/images/how-to-sell/online-trade.svg" alt="" />
          </div>
        </div>
        <div class="col-lg-6 pl-lg-5 wow fadeInDown" data-wow-delay=".3s"
          style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
          <div class="secure_content pr-md-5">
            <div class="section_title_new">
              <h2>Get the most out of your online <br>
                trades. Trade with confidence and peace of mind </h2>
              <ul class="list_dots mt-4">
                <li>
                  <p class="">Work together with a community of businesses for
                    hassle-free sales</p>
                </li>
                <li>
                  <p class="">Ensure successful transactions by vending on a
                    safe platform</p>
                </li>
                <li>
                  <p class="">Utilize the best methods for secure online trading</p>
                </li>
                <li>
                  <p class="">Support the fight to end scamming
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class=" faq_part pb-lg-5 mb-5">
    <div class="container">
      <div class="section_tittle style_2 mb-lg-5 mb-md-4 mb-4 pb-0">
        <h2>Frequently Asked Questions</h2>
        <h5 class="base_color">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </h5>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="accordion" id="accordionExample">
            <div class="card wow fadeInDown" data-wow-delay=".3s" style="
                  visibility: visible;
                  animation-delay: 0.3s;
                  animation-name: fadeInDown;
                ">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="ti-minus"></i>
                    Lorem ipsum dolor sit amet consectetur
                  </button>
                </h2>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Neque aliquam ipsam vitae harum architecto ipsa
                    reprehenderit voluptatum dolorum facere porro incidunt,
                    labore obcaecati reiciendis, dicta eligendi distinctio at
                    quaerat mollitia.
                  </p>
                </div>
              </div>
            </div>
            <div class="card wow fadeInDown" data-wow-delay=".3s" style="
                  visibility: visible;
                  animation-delay: 0.3s;
                  animation-name: fadeInDown;
                ">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="ti-minus"></i>
                    Lorem ipsum dolor sit amet consectetur
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Neque aliquam ipsam vitae harum architecto ipsa
                    reprehenderit voluptatum dolorum facere porro incidunt,
                    labore obcaecati reiciendis, dicta eligendi distinctio at
                    quaerat mollitia.
                  </p>
                </div>
              </div>
            </div>
            <div class="card wow fadeInDown" data-wow-delay=".3s" style="
                  visibility: visible;
                  animation-delay: 0.3s;
                  animation-name: fadeInDown;
                ">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i class="ti-minus"></i>
                    Lorem ipsum dolor sit amet consectetur
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Neque aliquam ipsam vitae harum architecto ipsa
                    reprehenderit voluptatum dolorum facere porro incidunt,
                    labore obcaecati reiciendis, dicta eligendi distinctio at
                    quaerat mollitia.
                  </p>
                </div>
              </div>
            </div>

            <div class="card wow fadeInDown" data-wow-delay=".3s" style="
                  visibility: visible;
                  animation-delay: 0.3s;
                  animation-name: fadeInDown;
                ">
              <div class="card-header" id="headingfour">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                    <i class="ti-minus"></i>
                    Lorem ipsum dolor sit amet consectetur
                  </button>
                </h2>
              </div>
              <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Neque aliquam ipsam vitae harum architecto ipsa
                    reprehenderit voluptatum dolorum facere porro incidunt,
                    labore obcaecati reiciendis, dicta eligendi distinctio at
                    quaerat mollitia.
                  </p>
                </div>
              </div>
            </div>

            <div class="card wow fadeInDown" data-wow-delay=".3s" style="
                  visibility: visible;
                  animation-delay: 0.3s;
                  animation-name: fadeInDown;
                ">
              <div class="card-header" id="headingsix">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                    <i class="ti-minus"></i>
                    Lorem ipsum dolor sit amet consectetur
                  </button>
                </h2>
              </div>
              <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Neque aliquam ipsam vitae harum architecto ipsa
                    reprehenderit voluptatum dolorum facere porro incidunt,
                    labore obcaecati reiciendis, dicta eligendi distinctio at
                    quaerat mollitia.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<app-footer></app-footer>