<app-header></app-header>

 
   <!-- banner part here -->
   <section class="find_infulencer section">
      <div class="container">
         <div class="row justify-content-center align-items-center">
            <div class="col-lg-12 second">
               <div class="banner_iner text-center">
                  <div class="overlay_effect is_show">
                     <h2 class="overlay_effect_in infu">Post and hire an infulencer</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- banner part end -->

   <div class="ideal_infulncer">
      <div class="container">
         <div class="row align-items-center px-lg-0 px-md-4 px-2 mb-lg-5 mb-md-4 mb-0 justify-content-between">
            <div class="col-lg-5 wow fadeInDown order-lg-0 order-md-1 order-1 mt-lg-0 mt-md-5 mt-5" data-wow-delay=".3s"
               style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
               <div class="section_title_new">
                  <h2>Come and find your <br> ideal influencer</h2>
                  <div class="border-top mt-md-4 mt-3 mb-3"></div>
                  <p>Connect with influencers and hire them to take your business to the next level.
                  </p>
                  <a routerLink="/find_infulencers" class="button_comman" data-wow-delay=".5s">Find influencers</a>
               </div>
            </div>
            <div class="col-lg-5 wow fadeInDown" data-wow-delay=".3s"
               style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
               <div class="ideal_infulncer_right right-shadow text-right">
                  <img src="assets/images/fire-and-hire/Find-4.jpg" alt="">
               </div>
            </div>
         </div>
         <div
            class="row align-items-center px-lg-0 px-md-4 px-2 pt-5 pb-md-5 pb-4 mb-xxl-5 mb-xl-5 justify-content-between">
            <div class="col-12 mt-xxl-5 mt-xl-5 wow fadeInDown" data-wow-delay=".3s"
               style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
               <div class="section_tittle style_2">
                  <h2>Find influencers your way</h2>
                  <h5 class="base_color">Build relationship with influencers to transform your business
                  </h5>
               </div>
            </div>
            <div class="col-lg-5 wow fadeInDown" data-wow-delay=".3s"
               style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
               <div class="ideal_infulncer_right left-shadow">
                  <img src="assets/images/fire-and-hire/Find-5.jpg" alt="">
               </div>
            </div>
            <div class="col-lg-6 wow fadeInDown mt-lg-0 mt-md-5 mt-5" data-wow-delay=".3s"
               style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
               <div class="section_title_new">
                  <h2>Post a job and hire an <br>
                     influencer ideal infulncer</h2>
                  <div class="border-top mt-md-4 mt-3 mb-3"></div>
                  <p>Connect with influencer by browsing through the Gramgenie marketplace.</p>
                  <p>Post your job on the Gramgenie marketplace and wait for proposals to flood in from a variety of
                     influencers and you have the power to choose your influencer. You can check profiles, portfolio and
                     reviews before you seal the transaction.
                  </p>
                  <p>The key in posting a job for your business, is to outline the details of what you are expecting,
                     and defining whom your ideal influencer should equip in regards of followings, audience
                     demographic, engagement and insights. </p>
                  <a routerLink="/find_infulencers" class="button_comman" data-wow-delay=".5s">Find influencers</a>
               </div>
            </div>
         </div>
         <div class="row align-items-center px-lg-0 px-md-4 px-2 pt-5 justify-content-between">
            <div class="col-lg-5 wow fadeInDown order-lg-0 order-md-1 order-1 mt-lg-0 mt-md-5 mt-5" data-wow-delay=".3s"
               style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
               <div class="section_title_new">
                  <h2>Browse and buy from categories
                  </h2>
                  <div class="border-top mt-md-4 mt-3 mb-3"></div>
                  <p>Want to waste less time<span style="font-family: Arial, Helvetica, sans-serif;">?</span> Then go ahead and browse through different categories in the Gramgenie
                     marketplace where influencers have already stated their services. </p>
                  <p>No need to create a job post, just browse, select, buy and get going with your business venture
                     with your selected influencer.</p>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid maiores rem officiis, voluptatum
                     vitae cupiditate. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid maiores rem
                     officiis, voluptatum vitae cupiditate.</p>
                  <a routerLink="/categories" class="button_comman" data-wow-delay=".5s">Browse Categories</a>
               </div>
            </div>
            <div class="col-lg-6 wow fadeInDown" data-wow-delay=".3s"
               style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
               <div class="ideal_infulncer_right right-shadow text-right">
                  <img src="assets/images/fire-and-hire/Find-3.jpg" alt="">
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="the_seal_of_approval py-lg-4">
      <div class="container">
         <div class="row align-items-center justify-content-between mb-lg-5 mb-md-4 mb-4 pb-lg-4">
            <div class="col-lg-6 pr-lg-5 wow fadeInDown" data-wow-delay=".3s"
               style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
               <div class="approval_top">
                  <h2>The seal of approval
                  </h2>
                  <p>You will have plenty of options to choose from when hiring an influencer and you can:
                  </p>
               </div>
            </div>
            <div class="col-lg-6 pl-lg-5 wow fadeInDown" data-wow-delay=".3s"
               style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
               <div class="approval_top">
                  <ul class="mb-md-4 mb-3 list_tick">
                     <li>
                        <p class="mb-md-0 mb-1"><img src="assets/images/right-tick.png" alt="">Check feedback</p>
                     </li>
                     <li>
                        <p class="mb-md-0 mb-1"><img src="assets/images/right-tick.png" alt="">Have a chat
                        </p>
                     </li>
                     <li>
                        <p class="mb-md-0 mb-1"><img src="assets/images/right-tick.png" alt="">Check their portfolio
                        </p>
                     </li>
                     <li>
                        <p class="mb-md-0 mb-1"><img src="assets/images/right-tick.png" alt="">Browse and filter
                        </p>
                     </li>
                     <li>
                        <p class="mb-md-0 mb-1"><img src="assets/images/right-tick.png" alt="">100% protection
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="row align-items-center justify-content-between mb-md-4 mb-5">
            <div class="col-md-6 pr-lg-5 wow fadeInDown order-md-0 order-1 mt-md-0 mt-4" data-wow-delay=".3s"
               style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
               <div class="approval_box_content">
                  <h3>Create your profile (it’s free)</h3>
                  <p>Registration of your profile is free and it is essential that you include every bit of detail about
                     your business and what you are aiming for and the requirements you expect, this will attract the
                     influencers who have the required skills and compatibility to apply for your job.</p>
               </div>
            </div>
            <div class="col-md-6 pl-lg-5 wow fadeInDown" data-wow-delay=".3s"
               style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
               <div class="approval_box_img">
                  <img class="shadow" src="assets/images/fire-and-hire/Find-1.jpg" alt="">
               </div>
            </div>
         </div>
         <div class="row align-items-center justify-content-between mb-md-4 mb-5">
            <div class="col-md-6 pr-lg-5 wow fadeInDown" data-wow-delay=".3s"
               style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
               <div class="approval_box_img">
                  <img class="shadow" src="assets/images/fire-and-hire/Find-6.jpg" alt="">
               </div>
            </div>
            <div class="col-md-6 pl-lg-5 wow fadeInDown mt-md-0 mt-4" data-wow-delay=".3s"
               style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
               <div class="approval_box_content">
                  <h3>Post a job or search for influencers</h3>
                  <p>As a business owner you have the flexibility to post a job which lists out all the details of your
                     job campaign, with the expected outcome, or search for influencers from the Gramgenie marketplace.
                  </p>
               </div>
            </div>
         </div>
         <div class="row align-items-center justify-content-between mb-md-4 mb-0">
            <div class="col-md-6 pr-lg-5 wow fadeInDown order-md-0 order-1 mt-md-0 mt-4" data-wow-delay=".3s"
               style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
               <div class="approval_box_content">
                  <h3>Pay & get your content posted</h3>
                  <p>Once you have locked onto your ideal influencer to do business with, complete the transaction with
                     a payment, but do not worry, the money will be secured in escrow and you can release it once the
                     influencer have posted your content.</p>
               </div>
            </div>
            <div class="col-md-6 pl-lg-5 wow fadeInDown" data-wow-delay=".3s"
               style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
               <div class="approval_box_img">
                  <img class="shadow" src="assets/images/fire-and-hire/Find-2.jpg" alt="">
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="container mt-xxl-5 mt-xl-5 pt-5 pb-5 mb-lg-5">
      <div class="row home_center">
         <div class="col-lg-6 second wow fadeInDown mb-lg-0 mb-md-4 mb-4" data-wow-delay=".3s"
            style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
            <div class="img_section">
               <img src="assets/images/fire-and-hire/Secure-01.svg" alt="deep">
               <div class="round_shape_animation"></div>
            </div>
         </div>
         <div class="col-lg-6 first wow fadeInDown" data-wow-delay=".3s"
            style=" visibility: visible; animation-delay: 0.3s;  animation-name: fadeInDown; ">
            <div class="about_section_content">
               <div class="section_title_new">
                  <h2>You are safe with Gramgenie
                  </h2>
                  <div class="border-top mt-md-4 mt-3 mb-3"></div>
                  <p>Gramgenie is a secure and safe platform for both influencers and business owners, therefore we
                     suggest that business owners do their transaction within the Gramgenie platform to avoid scam and
                     fraud.</p>
                  <p>With Gramgenie, you are able to do the following:</p>
                  <ul class="mb-4 list_tick">
                     <li>
                        <p class="mb-md-0 mb-1"><img src="assets/images/right-tick.png" alt=""> Track your order</p>
                     </li>
                     <li>
                        <p class="mb-md-0 mb-1"><img src="assets/images/right-tick.png" alt="">100% protection on your
                           payments
                        </p>
                     </li>
                     <li>
                        <p class="mb-md-0 mb-1"><img src="assets/images/right-tick.png" alt="">24/7 support
                        </p>
                     </li>
                     <li>
                        <p class="mb-md-0 mb-1"><img src="assets/images/right-tick.png" alt="">Fraud protection
                        </p>
                     </li>
                  </ul>
                  <h3>All in one place
                  </h3>
                  <p>Gramgenie platform allows files to be sent and received securely, give real-time feedback and make
                     payments with the use of escrow and pay once services is delivered by influencer.
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>

<app-footer></app-footer>