<div class="offcanvas_overlay"></div>
      <header class="header_part classic_header menu_item_padding position_abs infulencer-user-plan">
         <div class="container custom_container">
            <div class="row">
               <div class="col-lg-12">
                  <nav class="navbar navbar-expand-lg justify-content-between align-items-center">
                     <a class="navbar-brand main_logo" routerLink="/index">
                     <img src="assets/images/GGLogo-06.svg" alt="">
                     </a>
                     <div class="collapse navbar-collapse justify-content-start" id="navbarNavDropdown">
                        <form action="javascript:;" class="search_form">
                           <input type="text" name="javascript:;" placeholder="Browse Gramgenie marketplace">
                           <i class="ti-search"></i>
                           <ul class="dhf">
                              <li class=" dropdown">
                                 <a class=" dropdown-toggle" href="javascript:;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 <i class="ti-angle-down"></i>
                                 </a>
                                 <ul class="dropdown-menu sel">
                                    <li>
                                       <a class="" routerLink="/corporate_agency">
                                          <img src="assets/images/famous-01.svg" alt="">
                                          <div class="">
                                             <span>Influencers</span>
                                             <p>Hire influencers our Gramgenie marketplace</p>
                                          </div>
                                       </a>
                                    </li>
                                    <li>
                                       <a class="" routerLink="/corporate_agency">
                                          <img src="assets/images/tick-01.svg" alt="">
                                          <div class="">
                                             <span>Pending
                                             Jobs</span>
                                             <p>Apply to jobs posted by business owners</p>
                                          </div>
                                       </a>
                                    </li>
                                 </ul>
                              </li>
                           </ul>
                        </form>
                     </div>
                     <div class="header_right_option">
                        <div class="infulencer-user-profile row align-items-center">
                           <div class="col-auto p-0">
                              <a class="create_list" href="javascript:;">Create Listing</a>
                           </div>
                           <div class="col-auto px-md-3 px-1">
                              <a class="profile_btns" href="javascript:;"><img src="assets/images/infulencer-user-plan/Total-Earnings.png" alt=""></a>
                              <a class="profile_btns" href="javascript:;"><img src="assets/images/infulencer-user-plan/Help.png" alt=""></a>
                              <a class="profile_btns" href="javascript:;"><img src="assets/images/infulencer-user-plan/Notification.png" alt=""></a>
                           </div>
                           <div class="dropdown col profile_detailss px-0">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <img class="profile_detailss_icon" src="assets/images/infulencer-user-plan/User.png" alt="">
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                 <a href="javascript:;" class="row profile_detailss_profile align-items-center mx-0 mb-3">
                                    <div class="col-auto">
                                       <img src="assets/images/infulencer-user-plan/Username.png" alt="">
                                    </div>
                                    <div class="col pl-0">
                                       <div class="profile_detailss_inner">
                                          <strong class="d-block">
                                          Vishnu Jangid
                                          </strong>
                                          <span class="d-block">Influencer</span>
                                       </div>
                                    </div>
                                 </a>
                                 <div class="row mx-0">
                                    <div class="col-12">
                                       <a class="dropdown-item" href="javascript:;" routerLink="/customer-view-profile"><img src="assets/images/infulencer-user-plan/View-Profile.png" alt=""> View Profile</a>
                                       <a class="dropdown-item" href="javascript:;"><img src="assets/images/infulencer-user-plan/Settings.png" alt="">Settings</a>
                                       <a class="dropdown-item" href="javascript:;" (click)="signOut()"><img src="assets/images/infulencer-user-plan/Sign-out.png" alt="">Sign Out</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                     </div>
                  </nav>
               </div>
            </div>
         </div>
      </header>
      <!-- header part end -->
      <section class="influncer_plan order-page">
         <div class="container">
            <div class="row">
               <div class="col-md-3 col-style3">
                  <div class="influncer_plan_tabs">
                     <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                           <button mat-flat-button class="nav-link" id="plan-tab" data-toggle="tab" data-target="#plan" type="button" role="tab" aria-controls="plan" aria-selected="true"><span class="influncer_tabs_ico"><img src="assets/images/infulencer-user-plan/Home.png" alt=""></span>Home</button>
                        </li>
                        <li class="nav-item" role="presentation">
                           <button mat-flat-button class="nav-link" id="plan1-tab" data-toggle="tab" data-target="#plan1" type="button" role="tab" aria-controls="plan1" aria-selected="false"><span class="influncer_tabs_ico"><img src="assets/images/infulencer-user-plan/Customer-Discovery.png" alt=""></span>Customer Discovery</button>
                        </li>
                        <li class="nav-item" role="presentation">
                           <button mat-flat-button class="nav-link" id="plan2-tab" data-toggle="tab" data-target="#plan2" type="button" role="tab" aria-controls="plan2" aria-selected="false"><span class="influncer_tabs_ico"><img src="assets/images/infulencer-user-plan/My-Messages.png" alt=""></span>My Messages</button>
                        </li>
                     </ul>
                     <div class="influncer_plans_inner_tabs">
                        <div class="tab_single_box accordion" id="accordionExample">
                           <mat-card class="card mt-4">
                              <div mat-card-header class="card-header" id="headingOne">
                                 <h2 class="mb-0">
                                    <button  mat-flat-button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <img src="assets/images/infulencer-user-plan/Listings.png" alt="">Listings
                                    </button>
                                 </h2>
                              </div>
                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                 <mat-card-content class="card-body py-0">
                                    <ul class="listing_list mb-0">
                                       <li>
                                          <a href="javascript:;"><img src="assets/images/infulencer-user-plan/Arrow.png" alt=""> My Listings</a>
                                       </li>
                                       <li>
                                          <a href="javascript:;"><img src="assets/images/infulencer-user-plan/Arrow.png" alt=""> All Listings</a>
                                       </li>
                                       <li>
                                          <a href="javascript:;"><img src="assets/images/infulencer-user-plan/Arrow.png" alt=""> Create Listing</a>
                                       </li>
                                    </ul>
                                 </mat-card-content>
                              </div>
                           </mat-card>
                           <mat-card class="card mt-4">
                              <div mat-card-header class="card-header" id="headingOne">
                                 <h2 class="mb-0">
                                    <button  mat-flat-button class="btn btn-link btn-block text-left active" type="button" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">
                                    <img src="assets/images/infulencer-user-plan/Listings.png" alt="">Orders
                                    </button>
                                 </h2>
                              </div>
                              <div id="collapsetwo" class="collapse show" aria-labelledby="headingtwo" data-parent="#accordionExample">
                                 <mat-card-content class="card-body py-0">
                                    <ul class="listing_list mb-0">
                                       <li>
                                          <a class="active" href="javascript:;"><img src="assets/images/infulencer-user-plan/Arrow.png" alt=""> Orders Pending</a>
                                       </li>
                                       <li>
                                           <a routerLink="/currents-orders"><img src="assets/images/infulencer-user-plan/Arrow.png" alt=""> Current Orders</a>
                                       </li>
                                       <li>
                                          <a routerLink="/all-orders"><img src="assets/images/infulencer-user-plan/Arrow.png" alt=""> All Order History</a>
                                       </li>
                                    </ul>
                                 </mat-card-content>
                              </div>
                           </mat-card>
                           <mat-card class="card mt-4">
                              <div mat-card-header class="card-header" id="headingOne">
                                 <h2 class="mb-0">
                                    <button  mat-flat-button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapsethree" aria-expanded="true" aria-controls="collapsethree">
                                    <img src="assets/images/infulencer-user-plan/Tools.png" alt="">Tools
                                    </button>
                                 </h2>
                              </div>
                              <div id="collapsethree" class="collapse show" aria-labelledby="headingthree" data-parent="#accordionExample">
                                 <mat-card-content class="card-body py-0">
                                    <ul class="listing_list mb-0">
                                       <li>
                                          <a href="javascript:;"><img src="assets/images/infulencer-user-plan/Arrow.png" alt=""> Influencer Analytics</a>
                                       </li>
                                    </ul>
                                 </mat-card-content>
                              </div>
                           </mat-card>
                           <mat-card class="card mt-4">
                              <div class="card-header" id="headingOne">
                                 <h2 class="mb-0">
                                    <button  mat-flat-button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="true" aria-controls="collapsefour">
                                    <img src="assets/images/infulencer-user-plan/Reports.png" alt="">Reports
                                    </button>
                                 </h2>
                              </div>
                              <div id="collapsefour" class="collapse show" aria-labelledby="headingfour" data-parent="#accordionExample">
                                 <mat-card-content class="card-body py-0">
                                    <ul class="listing_list mb-0">
                                       <li>
                                          <a href="javascript:;"><img src="assets/images/infulencer-user-plan/Arrow.png" alt=""> Transaction history</a>
                                       </li>
                                    </ul>
                                 </mat-card-content>
                              </div>
                           </mat-card>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-9 col-md-8">
                  <div class="welcome_user">
                     <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade" id="plan" role="tabpanel" aria-labelledby="plan-tab">
                           <div class="row">
                              <div class="col-6">
                                 <div class="welcome_user_profile comman_user_box influncer_plan_tabs dpb-20 dmb-30 height-auto ">
                                    <img src="assets/images/infulencer-user-plan/User.png" alt="">
                                    <div class="welcome-text">
                                       <h3>Welcome, Username!</h3>
                                       <p>
                                          Post your listings, or search for potential businesses on our Gramgenie Marketplace
                                       </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-12">
                                       <hr>
                                    </div>
                                    <div class="col-md-12 welcome-second-section dp-0">
                                       <ul>
                                          <li>
                                             <div class="module1">
                                                <img src="assets/images/psd-images/gold.png" alt="">
                                                <div class="content-width">
                                                   Gold
                                                </div>
                                                <div class="full-width dmt-15 related-p">
                                                   Your Reputation <i class="fa fa-angle-right"></i>
                                                </div>
                                             </div>
                                          </li>
                                          <li>
                                             <div class="module1">
                                                <img src="assets/images/psd-images/1813.png" alt="">
                                                <div class="content-width">
                                                   1813
                                                </div>
                                                <div class="full-width dmt-15 related-p">
                                                   Orders Completed <i class="fa fa-angle-right"></i>
                                                </div>
                                             </div>
                                          </li>
                                          <li>
                                             <div class="module1">
                                                <img src="assets/images/psd-images/wallet.png" alt="">
                                                <div class="content-width">
                                                   $4153.25
                                                </div>
                                                <div class="full-width dmt-15 related-p">
                                                   Total Earnings <i class="fa fa-angle-right"></i>
                                                </div>
                                             </div>
                                          </li>
                                       </ul>
                                    </div>
                                    <div class="col-md-12 dp-0">
                                       <div class="related-p">684 Ratings</div>
                                       <div class="some-progress-bar col-md-12">
                                          <div class="row">
                                             <div class="col-md-2">
                                                <div class="row">
                                                   <ul class="star-rating">
                                                      <li><i class="fa fa-star"></i></li>
                                                      <li><i class="fa fa-star"></i></li>
                                                      <li><i class="fa fa-star"></i></li>
                                                      <li><i class="fa fa-star"></i></li>
                                                      <li><i class="fa fa-star"></i></li>
                                                   </ul>
                                                </div>
                                             </div>
                                             <div class="col-md-8 progress-bare dp-0">
                                                <progress id="file" value="75" max="100"> 75% </progress>
                                             </div>
                                             <div class="col-md-2 related-p">
                                                248
                                             </div>
                                          </div>
                                          <div class="row">
                                             <div class="col-md-2">
                                                <div class="row">
                                                   <ul class="star-rating">
                                                      <li><i class="fa fa-star"></i></li>
                                                      <li><i class="fa fa-star"></i></li>
                                                      <li><i class="fa fa-star"></i></li>
                                                      <li><i class="fa fa-star"></i></li>
                                                      <li><i class="fa fa-star"></i></li>
                                                   </ul>
                                                </div>
                                             </div>
                                             <div class="col-md-8 progress-bare dp-0">
                                                <progress id="file" value="75" max="100"> 75% </progress>
                                             </div>
                                             <div class="col-md-2 related-p">
                                                248
                                             </div>
                                          </div>
                                          <div class="row">
                                             <div class="col-md-2">
                                                <div class="row">
                                                   <ul class="star-rating">
                                                      <li><i class="fa fa-star"></i></li>
                                                      <li><i class="fa fa-star"></i></li>
                                                      <li><i class="fa fa-star"></i></li>
                                                      <li><i class="fa fa-star"></i></li>
                                                      <li><i class="fa fa-star"></i></li>
                                                   </ul>
                                                </div>
                                             </div>
                                             <div class="col-md-8 progress-bare dp-0">
                                                <progress id="file" value="75" max="100"> 75% </progress>
                                             </div>
                                             <div class="col-md-2 related-p">
                                                248
                                             </div>
                                          </div>
                                          <div class="row">
                                             <div class="col-md-2">
                                                <div class="row">
                                                   <ul class="star-rating">
                                                      <li><i class="fa fa-star"></i></li>
                                                      <li><i class="fa fa-star"></i></li>
                                                      <li><i class="fa fa-star"></i></li>
                                                      <li><i class="fa fa-star"></i></li>
                                                      <li><i class="fa fa-star"></i></li>
                                                   </ul>
                                                </div>
                                             </div>
                                             <div class="col-md-8 progress-bare dp-0">
                                                <progress id="file" value="75" max="100"> 75% </progress>
                                             </div>
                                             <div class="col-md-2 related-p">
                                                248
                                             </div>
                                          </div>
                                          <div class="row">
                                             <div class="col-md-2">
                                                <div class="row">
                                                   <ul class="star-rating">
                                                      <li><i class="fa fa-star"></i></li>
                                                      <li><i class="fa fa-star"></i></li>
                                                      <li><i class="fa fa-star"></i></li>
                                                      <li><i class="fa fa-star"></i></li>
                                                      <li><i class="fa fa-star"></i></li>
                                                   </ul>
                                                </div>
                                             </div>
                                             <div class="col-md-8 progress-bare dp-0">
                                                <progress id="file" value="75" max="100"> 75% </progress>
                                             </div>
                                             <div class="col-md-2 related-p">
                                                248
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-12 dp-0">
                                       <a href="javascript:void(0)">View Reviews <i class="fa fa-angle-right"></i></a>
                                    </div>
                                 </div>
                                 <div class="create_listing comman_user_box influncer_plan_tabs height-auto dpb-20 dmb-30">
                                    <div class="welcome-text">
                                       <h4>Create Your First Listing</h4>
                                    </div>
                                    <div class="related-p font-18">
                                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore repellat, error pariatur expedita provident enim dolor porro itaque accusamus minima vitae, quisquam ab molestiae iste dolores saepe libero assumenda tempora!
                                    </div>
                                    <div class="col-md-12">
                                       <div class="row">
                                          <a href="javascript:void(0)">Create Listing <i class="fa fa-angle-right"></i></a>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="total_earnings comman_user_box influncer_plan_tabs height-auto dpb-20">
                                    <div class="welcome-text">
                                       <h4>Total Earnings</h4>
                                    </div>
                                    <div class="price-related font-20 dark">
                                       $ 458.29
                                    </div>
                                    <div class="col-md-12">
                                       <div class="row">
                                          <a href="javascript:void(0)">Cash Out <i class="fa fa-angle-right"></i></a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-6">
                                 <div class="top_security comman_user_box influncer_plan_tabs height-auto dpb-20 dmb-30">
                                    <div class="welcome-text">
                                       <h4>Top security tip!</h4>
                                    </div>
                                    <div class="related-p font-18">
                                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore repellat, error pariatur expedita.
                                    </div>
                                 </div>
                                 <div class="good_use comman_user_box influncer_plan_tabs height-auto dpb-20 dmb-30">
                                    <div class="welcome-text">
                                       <h4>Use your personalised link to good use</h4>
                                    </div>
                                    <div class="col-md-12">
                                       <div class="row justify-content-center">
                                          <div class="col-md-10 link-reserved">
                                             <h5>www.gramgenie.com/user/gguser</h5>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="related-p font-18">
                                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis praesentium modi quo voluptatem, iusto eum sapiente dignissimos optio eaque corporis sequi, officia deleniti amet magnam alias rerum fuga. Dicta, voluptate?
                                    </div>
                                 </div>
                                 <div class="inbox comman_user_box influncer_plan_tabs height-auto dpb-20 dmb-30">
                                    <div class="welcome-text">
                                       <h4>Inbox</h4>
                                    </div>
                                    <div class="related-p font-18">
                                       <div class="col-md-12 dmb-15">
                                          <div class="row new-customer">
                                             <div class="col-md-9">
                                                <div class="row">
                                                   <div class="col-md-5 dp-0 purple">
                                                      Customer Name
                                                   </div>
                                                   <div class="col-md-7 dp-0 dark">
                                                      Subject: New Ad Spot
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="col-md-3 purple">
                                                13:00AM
                                             </div>
                                          </div>
                                          <div class="row new-customer">
                                             <div class="col-md-9">
                                                <div class="row">
                                                   <div class="col-md-5 dp-0 purple">
                                                      Customer Name
                                                   </div>
                                                   <div class="col-md-7 dp-0 dark">
                                                      Subject: New Ad Spot
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="col-md-3 purple">
                                                13:00AM
                                             </div>
                                          </div>
                                          <div class="row new-customer">
                                             <div class="col-md-9">
                                                <div class="row">
                                                   <div class="col-md-5 dp-0 purple">
                                                      Customer Name
                                                   </div>
                                                   <div class="col-md-7 dp-0 dark">
                                                      Subject: New Ad Spot
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="col-md-3 purple">
                                                13:00AM
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-md-12">
                                          <div class="row">
                                             <a href="javascript:void(0)">Visit Inbox <i class="fa fa-angle-right"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="top_rated_listing comman_user_box influncer_plan_tabs height-auto dpb-20">
                                    <div class="welcome-text">
                                       <h4>Top Rated Listings</h4>
                                    </div>
                                    <div class="rated-list col-md-12 dmb-15">
                                       <div class="row">
                                          <div class="col-md-12 dp-0 new-customer">
                                             <div class="row ">
                                                <div class="col-md-6 dark">
                                                   Create Instagram Promo
                                                </div>
                                                <div class="col-md-6">
                                                   <div class="row dfac ">
                                                      <div class="col-md-6">
                                                         <ul class="star-rating">
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                         </ul>
                                                      </div>
                                                      <div class="col-md-6 dp-0 purple">
                                                         321 Reviews
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="col-md-12 dp-0 new-customer">
                                             <div class="row ">
                                                <div class="col-md-6 dark">
                                                   Create Instagram Promo
                                                </div>
                                                <div class="col-md-6">
                                                   <div class="row dfac ">
                                                      <div class="col-md-6">
                                                         <ul class="star-rating">
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                         </ul>
                                                      </div>
                                                      <div class="col-md-6 dp-0 purple">
                                                         321 Reviews
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="col-md-12 dp-0 new-customer">
                                             <div class="row ">
                                                <div class="col-md-6 dark">
                                                   Create Instagram Promo
                                                </div>
                                                <div class="col-md-6">
                                                   <div class="row dfac ">
                                                      <div class="col-md-6">
                                                         <ul class="star-rating">
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                         </ul>
                                                      </div>
                                                      <div class="col-md-6 dp-0 purple">
                                                         321 Reviews
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="col-md-12 dp-0 new-customer">
                                             <div class="row ">
                                                <div class="col-md-6 dark">
                                                   Create Instagram Promo
                                                </div>
                                                <div class="col-md-6">
                                                   <div class="row dfac ">
                                                      <div class="col-md-6">
                                                         <ul class="star-rating">
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                         </ul>
                                                      </div>
                                                      <div class="col-md-6 dp-0 purple">
                                                         321 Reviews
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-12">
                                       <div class="row">
                                          <a href="javascript:void(0)">
                                          View Listings <i class="fa fa-angle-right"></i>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="tab-pane fade" id="plan1" role="tabpanel" aria-labelledby="plan1-tab">
                           Data Not Available
                        </div>
                        <div class="tab-pane fade" id="plan2" role="tabpanel" aria-labelledby="plan2-tab">
                           Data Not Available1
                        </div>
                     </div>
                     <div class="orders_part ">
                        <h3 class="comman_heads_ordes">Review your pending orders</h3>
                        <div class="order-comman_tables table-responsive">
                           <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">

                              <ng-container matColumnDef="Order ID">
                                  <mat-header-cell *matHeaderCellDef>Order ID</mat-header-cell>
                                  <mat-cell  *matCellDef="let element">{{element.position}}</mat-cell>
                              </ng-container>
                          
                              <ng-container matColumnDef="Date">
                                  <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                                  <mat-cell  *matCellDef="let element" class="description-cell">
                                     12/12/21</mat-cell>
                              </ng-container>
                          
                              <ng-container matColumnDef="Influencer">
                                  <mat-header-cell *matHeaderCellDef>Influencer</mat-header-cell>
                                  <mat-cell  *matCellDef="let element" class="duration-cell">
                                     SampleUsername</mat-cell>
                              </ng-container>

                              <ng-container matColumnDef="Platform">
                                 <mat-header-cell *matHeaderCellDef>Platform</mat-header-cell>
                                 <mat-cell  *matCellDef="let element" class="duration-cell">
                                    Instagram</mat-cell>
                             </ng-container>

                             <ng-container matColumnDef="Job-Description">
                              <mat-header-cell *matHeaderCellDef>Job Description</mat-header-cell>
                              <mat-cell  *matCellDef="let element" class="duration-cell">
                                 Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                              </mat-cell>
                          </ng-container>

                              <ng-container matColumnDef="Amount">
                                 <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
                                 <mat-cell  *matCellDef="let element" class="duration-cell">
                                    $2844.23</mat-cell>
                             </ng-container>

                             <ng-container matColumnDef="Confirmation">
                              <mat-header-cell *matHeaderCellDef>Confirmation</mat-header-cell>
                              <mat-cell  *matCellDef="let element" class="duration-cell">
                                 <div class="btns">
                                    <a class="tables_btn btn-green" href="javascript:;">Yes</a>
                                    <a class="tables_btn btn-red" href="javascript:;">No</a>
                                 </div>
                              </mat-cell>
                             </ng-container>
                          
                              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                          
                              <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                          </mat-table>
                          <!-- Angular 8 pagination -->
                          <mat-paginator [length]="100"
                          [pageSize]="10"
                          [pageSizeOptions]="[5, 10, 25, 100]"
                          aria-label="Select page">
                          </mat-paginator>
                        </div>
                        <nav aria-label="Page navigation example">
                           <ul class="pagination">
                             <li class="page-item">
                               <a class="page-link" href="javascript:;" aria-label="Previous">
                                 <span aria-hidden="true"><i class="ti-angle-left"></i></span> 
                               </a>
                             </li>
                             <li class="page-item active"><a class="page-link" href="javascript:;">1</a></li>
                             <li class="page-item"><a class="page-link" href="javascript:;">2</a></li>
                             <li class="page-item"><a class="page-link" href="javascript:;">3</a></li>
                             <li class="page-item"><a class="page-link" href="javascript:;">4</a></li>
                             <li class="page-item"><a class="page-link" href="javascript:;">5</a></li>
                             <li class="page-item">
                               <a class="page-link" href="javascript:;" aria-label="Next">
                                 <span aria-hidden="true"><i class="ti-angle-right"></i></span> 
                               </a>
                             </li>
                           </ul>
                         </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="djfj">
         <div class="container">
            <div class="row justify-content-center d-flex align-items-center">
               <div class="col-sm-8">
                  <div class="wow dem_2 fadeInDown" data-wow-delay=".5s" style="
                     visibility: visible;
                     animation-delay: 0.5s;
                     animation-name: fadeInDown;
                     ">
                     <h2>READY TO FIND YOUR NEXT BUSINESS PARTNER?</h2>
                     <!-- <h5 class="base_color_1">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </h5> -->
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="single">
                     <a href="javascript:;" data-wow-delay=".5s" class="cu_btn btn_5 wow fadeInDown" style="
                        visibility: visible;
                        animation-delay: 0.5s;
                        animation-name: fadeInDown;
                        ">Get Started Now</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <footer class="footer_section">
         <div class="container">
            <div class="row justify-content-between">
               <div class="col-lg-3 col-sm-6 wow fadeInDown" data-wow-delay=".3s" style="
                  visibility: visible;
                  animation-delay: 0.3s;
                  animation-name: fadeInDown;
                  ">
                  <div class="single_footer_widget">
                     <a class="footer_logo" href="javascript:;"><img src="assets/images/footer_logo.png" alt="" /></a>
                     <span class="">Any Questions?</span>
                     <a class="mail_part" href="javascript:;"><img src="assets/images/mail.png" alt="" />support@Gramgenie</a>
                     <div class="row mt-md-4 mt-3 align-items-center">
                        <div class="col-md-auto">
                           <span class="m-0">Follow us:</span>
                        </div>
                        <div class="col px-0">
                           <div class="social_icons">
                              <a href="javascript:;"><img src="assets/images/Instagrama.png" alt="" /></a>
                              <a href="javascript:;"><img src="assets/images/facebook.png" alt="" /></a>
                              <a href="javascript:;"><img src="assets/images/Linkiden.png" alt="" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 offset-lg-1 col-sm-6 wow fadeInDown" data-wow-delay=".4s" style=" visibility: visible; animation-delay: 0.4s; animation-name: fadeInDown;">
                  <div class="single_footer_widget footer_nav">
                     <h4>Gramgenie</h4>
                     <ul>
                        <li><a href="javascript:;">About us</a></li>
                        <li><a href="javascript:;">Blog</a></li>
                        <li><a href="javascript:;">Partnership</a></li>
                        <li><a href="javascript:;">Advertisements</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-2 col-sm-6 wow fadeInDown" data-wow-delay=".5s" style=" visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
                  <div class="single_footer_widget footer_nav">
                     <h4>Support</h4>
                     <ul>
                        <li><a href="javascript:;">Contact us</a></li>
                        <li><a href="javascript:;">How to buy</a></li>
                        <li><a href="javascript:;">How to sell</a></li>
                        <li><a href="javascript:;">F.A.Q</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-2 col-sm-6 wow fadeInDown" data-wow-delay=".6s" style=" visibility: visible; animation-delay: 0.6s; animation-name: fadeInDown;">
                  <div class="single_footer_widget footer_nav">
                     <h4>Legal</h4>
                     <ul>
                        <li><a href="javascript:;">Privacy policy</a></li>
                        <li><a href="javascript:;">Terms and conditions</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <div class="clearfix"></div>
      <section class="mode">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="copyright_part">
                     <div class="row align-items-center">
                        <div class="col-lg-6 ">
                           <p class="same">
                              © Copyright Gramgenie 2020.All Right Reserved.
                           </p>
                        </div>
                        <div class="col-lg-6 ">
                           <div class="social_icon">
                              <a href="javascript:;"><i class=""></i><img src="assets/images/Vector-Smart-.png" alt=""
                                 class="Vector-Smart" /></a>
                              <a href="javascript:;"><i class=""></i><img src="assets/images/Master-Card.png" alt=""
                                 class="Master-Card" /></a>
                              <a href="javascript:;"><i class=""></i><img src="assets/images/Amrican-Express.png" alt=""
                                 class="Amrican-Express" /></a>
                              <a href="javascript:;"><i class=""></i><img src="assets/images/Skrill.png" alt=""
                                 class="Skrill" /></a>
                              <a href="javascript:;"><i class=""></i><img src="assets/images/Coinbase.png" alt=""
                                 class="Coinbase" /></a>
                              <a href="javascript:;"><i class=""></i><img src="assets/images/Stripe.png" alt=""
                                 class="Stripe" /></a>
                              <a href="javascript:;"><i class=""></i><img src="assets/images/Pypal.png" alt="" class="Pypal" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>