<app-header></app-header> 

   <!-- banner part here -->
   <section class="img_banner_section">
      <div class="container">
         <div class="row justify-content-center align-items-center">
            <div class="col-lg-5 second order-lg-0 order-md-1 order-1">
               <div class="banner_iner">
                  <div class="overlay_effect is_show">
                     <h2 class="overlay_effect_in">A Great Way</h2>
                  </div>
                  <!-- <div class="overlay_effect is_show">
                        <h2 class="overlay_effect_in"><span>anything </span>&nbsp;possible</h2>
                        </div> -->
                  <div class="subtitle_2">
                     <p>Of finding your ideal influencers <br>
                        for your business
                     </p>
                     <div class="border-top2"></div>
                  </div>
                  <p class="wow fadeInLeft" data-wow-delay=".5s">Want to find your next business partner, or earn some
                     <br>
                     extra income<span style="font-family: Arial, Helvetica, sans-serif;">?</span> Start right away with Gramgenie, a unique <br> marketplace which allows buyers to
                     find
                     their ideal <br> influencer with the help of smart filtering, user <br> engagement viewer and
                     feedback.
                  </p>
                  <div class="banner_btn">
                     <a routerLink="/find_infulencers" class="cu_btn btn_3 wow fadeInLeft"
                        data-wow-delay=".5s">Find influencers</a>
                     <a routerLink="/sign_up" data-wow-delay=".5s" class="cu_btn btn_4 wow fadeInLeft"
                        style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">Get Started</a>
                  </div>
               </div>
            </div>
            <div class="first col-lg-7 wow fadeInDown" data-wow-delay=".5s">
               <div class="banner_img">
                  <img src="assets/images/Home_page/Slider Artwork.svg" alt="javascript:;" class="img-fluid">
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- banner part end -->
   <!-- our services part -->
   <section class="single_page_service ft_font single_service_padding service-area">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-sm-12">
               <div class="non">
                  <p>For Businesses</p>
                  <div class="border-top_1 "></div>
               </div>
               <div class="section_tittle style_2 wow fadeInDown" data-wow-delay=".5s"
                  style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
                  <h2>Find influencers your way!
                  </h2>
                  <h5 class="base_color">With our Gramgenie marketplace have an option to post a job and hire your
                     appropriate influencer or browse through the marketplace and filter your way through in selecting
                     your ideal influencer.
                  </h5>
               </div>
            </div> 
         </div>
         <div class="row">
            <div class="col-lg-6 col-sm-6 pt-2 wow fadeInDown" data-wow-delay=".3s"
               style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">
               <div class="services-caption text-left mb-30">
                  <div class="service-cap">
                     <span class="">Post a job and</span>
                     <h4>hire an influencer</h4>
                     <p>Have the option to hire influencers or post your job on our marketplace for influencers to find
                        you.
                     </p>
                     <a  routerLink="/post_and_hire_influencer">Gramgenie Marketplace<i class="fa fa-chevron-right"></i></a>
                  </div>
                  <div class="ner">
                     <div class="service-icon2 text-left"></div>
                  </div>
               </div>
            </div>
            <div class="col-lg-6 col-sm-6 wow fadeInDown pt-2" data-wow-delay=".3s"
               style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">
               <div class="services-caption text-left mb-30">
                  <div class="service-cap">
                     <span class="">Browse and buy</span>
                     <h4>advertisement services</h4>
                     <p>Looking to earn money<span style="font-family: Arial, Helvetica, sans-serif;">?</span> Post details about your promotions or find customers on our marketplace.
                     </p>
                     <a  routerLink="/how_to_buy">Gramgenie Marketplace<i class="fa fa-chevron-right"></i></a>
                  </div>
                  <div class="ner">
                     <div class="service-icon text-left"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--  -->
   <!-- our services part -->
   <section class="single_page_service single_page_1 ft_font single_service_padding">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-sm-12">
               <div class="section_tittle style_2 wow fadeInDown" data-wow-delay=".5s"
                  style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
                  <h2>How we do it!</h2>
                  <h5 class="base_color">The unparalleled marketplace is powered by the following Gramgenie services
                  </h5>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="dsa text-center wow fadeInDown" data-wow-delay=".5s"
               style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
               <img src="assets/images/work_new.svg" alt="" class="img-fluid">
            </div>
         </div>
      </div>
   </section>
   <!-- end services part -->
   <section class="about_section padding_top sp_font">
      <div class="container">
         <div class="row home_center">
            <div class="col-lg-6 First">
               <div class="about_section_content">
                  <div class="section_tittle text-left style_2 wow fadeInDown" data-wow-delay=".5s"
                     style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
                     <h2>Buy advertisements<br />
                        and boost your business sales
                     </h2>
                     <div class="border-top my-3"></div>
                     <div class="subtitle_5">
                        <p>Business owners</p>
                        <span>
                           Want to find your next business partner, or earn some extra income<span style="font-family: Arial, Helvetica, sans-serif;">?</span> Start right away with
                           Gramgenie, a unique marketplace which allows buyers to find their ideal influencer with the
                           help of smart filtering, user engagement viewer and feedback.
                        </span>
                     </div>
                     <div class="subtitle_5 pt-md-5 pt-3">
                        <p>Benefits for users</p>
                        <ul>
                           <li>• You only pay once influencer publishes content</li>
                           <li>• Pay with many payment methods</li>
                           <li>• Smart filter allows to find your ideal influencer</li>
                           <li>• 100% protected payment and security</li>
                           <li>• Communication with the influencer</li>
                           <li>• Can view influencers engagement on Instagram</li>
                           <li>• Customer support</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-6 Second">
               <div class="img_section">
                  <img src="assets/images/Home_page/Buyers Artwork.svg" alt="deep">
                  <div class="round_shape_animation"></div>
               </div>
            </div>
         </div>
         <div class="row home_center">
            <div class="col-lg-6 second order-lg-0 order-md-1 order-1">
               <div class="img_section">
                  <img src="assets/images/Home_page/Seller_Artwork.svg" alt="deep">
                  <div class="round_shape_animation"></div>
               </div>
            </div>
            <div class="col-lg-6 first">
               <div class="about_section_content">
                  <div class="section_tittle style_2 wow fadeInDown" data-wow-delay=".5s"
                     style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
                     <h2>Sell your advertisements<br />
                        and boost your income
                     </h2>
                     <div class="border-top my-3"></div>
                     <div class="subtitle_5">
                        <p>Influencers</p>
                        <span>
                           Want to find your next business partner, or earn some extra income<span style="font-family: Arial, Helvetica, sans-serif;">?</span> Start right away with
                           Gramgenie, a unique marketplace which allows buyers to find their ideal influencer with the
                           help of smart filtering, user engagement viewer and feedback.
                        </span>
                     </div>
                     <div class="subtitle_5 pt-md-5 pt-3">
                        <p>Benefits for users</p>
                        <ul>
                           <li>• You only pay once influencer publishes content</li>
                           <li>• Pay with many payment methods</li>
                           <li>• Smart filter allows to find your ideal influencer</li>
                           <li>• 100% protected payment and security</li>
                           <li>• Communication with the influencer</li>
                           <li>• Can view influencers engagement on Instagram</li>
                           <li>• Customer support</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- our services part -->
   <section class="single_page_service ft_font single_service_padding">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-sm-12">
               <div class="section_tittle style_2 wow fadeInDown" data-wow-delay=".5s"
                  style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
                  <h2>Gramgenie Marketplace Features</h2>
                  <h5 class="base_color">The unparalleled Gramgenie marketplace is powered by the following services:
                  </h5>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-4 col-sm-6 wow fadeInDown" data-wow-delay=".3s"
               style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">
               <div class="single_services_part style_2">
                  <div class="mob_1">
                     <a routerLink="/customer-analyzer">
                        <img src="assets/images/Home_page/Icons/Icons-01.svg" class="service_icon"
                           alt="services_icon" ></a>
                     <div class="spare1"></div>
                     <h4> <a routerLink="/customer-analyzer"> Find more customers </a></h4>
                     <p>Our marketplace will enable influencers to reach out to customers from different geographic
                        locations
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInDown" data-wow-delay=".4s"
               style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInDown;">
               <div class="single_services_part style_2">
                  <div class="mob_1">
                     <a href="services_details_1.html"><img src="assets/images/Home_page/Icons/Icons-02.svg"
                           class="service_icon" alt="services_icon"></a>
                     <div class="spare1"></div>
                     <h4> <a href="services_details_1.html"> Payment protection</a></h4>
                     <p>Payments are protected using escrow, which allows customers to have full confidence in
                        purchasing an advertisement service. Customers will release payments once the job is delivered.
                        
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInDown" data-wow-delay=".5s"
               style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
               <div class="single_services_part style_2">
                  <div class="mob_1">
                     <a href="services_details_1.html"><img src="assets/images/Home_page/Icons/Icons-03.svg"
                           class="service_icon" alt="services_icon"></a>
                     <div class="spare1"></div>
                     <h4> <a href="services_details_1.html"> Reputation & Feedback</a></h4>
                     <p>Our marketplace is integrated with rating systems which allows buyers and sellers to give each
                        other feedback through the options of using a star and providing feedback text.
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInDown" data-wow-delay=".6s"
               style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInDown;">
               <div class="single_services_part style_2">
                  <div class="mob_1">
                     <a href="services_details_1.html"><img src="assets/images/Home_page/Icons/Icons-04.svg"
                           class="service_icon" alt="services_icon"></a>
                     <div class="spare1"></div>
                     <h4> <a href="services_details_1.html">Automated payouts</a></h4>
                     <p>Our marketplace ensures that sellers get paid on time without any hassle, all automate payouts.
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInDown" data-wow-delay=".7s"
               style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInDown;">
               <div class="single_services_part style_2">
                  <div class="mob_1">
                     <a routerLink="/influencer-analyzer"><img src="assets/images/Home_page/Icons/Icons-05.svg"
                           class="service_icon" alt="services_icon" ></a>
                     <div class="spare1"></div>
                     <h4> <a routerLink="/influencer-analyzer">Instagram account Analyzer </a></h4>
                     <p>Our marketplace gives customers an option to use our smart Instagram account analyzer to view
                        the engagement.
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInDown" data-wow-delay=".8s"
               style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInDown;">
               <div class="single_services_part style_2">
                  <div class="mob_1">
                     <a routerLink="/influencer-current-track-your-orders"><img src="assets/images/Home_page/Icons/Icons-06.svg"
                           class="service_icon" alt="services_icon"></a>
                     <div class="spare1"></div>
                     <h4> <a routerLink="/influencer-current-track-your-orders">Track results</a></h4>
                     <p>Influencers can track results of their campaign with the help of analytics table.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- our services part end -->

<app-footer></app-footer>