<header class="header_part classic_header menu_item_padding position_abs new_header">
   <div class="container custom_container">
     <div class="row">
       <div class="col-lg-12">          
         <nav class="navbar navbar-expand-lg justify-content-between align-items-center" >
            <a class="navbar-brand main_logo"  routerLink="/home">
               <img src="assets/images/GGLogo-06.svg" alt="">
            </a>
            <div class="header_right_option">
               <div class="ecplore_btn mr-lg-0 mr-3">
                  <a routerLink="/home">Explore</a>
               </div>
            </div>
         </nav>
        </div>
     </div>
  </div>
</header>

 <!-- banner part here -->
 <section class="find_infulencer section">
   <div class="container">
      <div class="row justify-content-center align-items-center">
         <div class="col-lg-12 second">
            <div class="banner_iner text-center">
               <div class="overlay_effect is_show">
                  <h2 class="overlay_effect_in infu">Sign-up</h2>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- banner part end -->
<section class="infulencer_account_info py-md-5 py-4">
   <div class="container py-lg-5">
      <div class="row justify-content-center">
         <div class="col-lg-8">
             <!-- <h2>{{this.userType}} Account information</h2> -->
            <h2>Account information</h2>
            <form class="infulencer_account_form" action="" [formGroup]="registerForm" 
               (ngSubmit)="register($event)" >
               <!-- <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate > -->
                                 
               <div class="form-group row mb-md-3 mb-0">
                  <div class="col-md-6 mb-md-0 mb-2">
                     <div class="position-relative">
                        <mat-form-field floatLabel="never">
                           <input matInput type="text" id="name" formControlName="first_name" value="" placeholder="First Name" valueclass="form-control-custom w-100">
                           <mat-error *ngIf="registerForm.get('first_name').hasError('minlength') && !registerForm.get('first_name').hasError('required')">
                              Atlease 3 letters are required
                           </mat-error>
                           <mat-error *ngIf="registerForm.get('first_name').hasError('pattern') && !registerForm.get('first_name').hasError('required')">
                              Only letters allowed.
                          </mat-error>
                           <mat-error *ngIf="registerForm.get('first_name').hasError('required')">
                              First name is required. 
                           </mat-error>
                        </mat-form-field>
                     </div>
                  </div>
                  <div class="col-md-6 mb-md-0 mb-2">
                     <div class="position-relative">
                        <mat-form-field  floatLabel="never">
                           <input matInput type="text" id="last_name" formControlName="last_name" value="" placeholder="Last Name"  class="form-control-custom w-100">
                           <mat-error *ngIf="registerForm.get('last_name').hasError('minlength') && !registerForm.get('last_name').hasError('required')">
                              Atlease 3 letters are required
                           </mat-error>
                           <mat-error *ngIf="registerForm.get('last_name').hasError('pattern') && !registerForm.get('last_name').hasError('required')">
                              Only letters allowed.
                          </mat-error>
                           <mat-error *ngIf="registerForm.get('last_name').hasError('required')">
                              Last name is required. 
                           </mat-error>
                        </mat-form-field>
                     </div>
                 </div>
               </div>
               <div class="form-group row mb-md-3 mb-0">
                  <div class="col-md-12 mb-md-0 mb-2">
                     <div class="position-relative">
                        <mat-form-field  floatLabel="never">
                           <input matInput type="email" id="email" formControlName="email" value="" placeholder="Email" class="form-control-custom w-100">
                           <mat-error *ngIf="registerForm.get('email').hasError('email') && !registerForm.get('email').hasError('required')">
                              Invalid input format.
                           </mat-error>
                           <mat-error *ngIf="registerForm.get('email').hasError('required')">
                              E-mail is required. 
                           </mat-error>
                        </mat-form-field>
                     </div>
                  </div> 
               </div>
               <div class="form-group row mb-md-3 mb-0">
                  <div class="col-md-6 mb-md-0 mb-2">
                     <div class="position-relative">
                        <mat-form-field  floatLabel="never">
                           <input matInput type="password" id="password" formControlName="password" value="" placeholder="Your Password" class="form-control-custom w-100 password_field">
                           <mat-error *ngIf="registerForm.get('password').hasError('minlength') && !registerForm.get('password').hasError('required')">
                              Atlease 8 letters are required.
                           </mat-error>
                           <mat-error *ngIf="registerForm.get('password').hasError('pattern') && !registerForm.get('password').hasError('required')">
                              Atleast one uppercase, lowercase, number and special character required.
                           </mat-error>
                           <mat-error *ngIf="registerForm.get('password').hasError('required')">
                              Password is required. 
                           </mat-error>
                        </mat-form-field>
                     </div>
                  </div>
                  <div class="col-md-6 mb-md-0 mb-2">
                    <div class="position-relative">
                     <mat-form-field  floatLabel="never">
                        <input matInput type="password" id="cpassword" formControlName="cpassword" value="" placeholder="Confirm Password" class="form-control-custom w-100">
                        <mat-error *ngIf="registerForm.get('cpassword').hasError('minlength') && !registerForm.get('cpassword').hasError('required')">
                           Atlease 8 letters are required.
                        </mat-error>
                        <mat-error *ngIf="registerForm.get('cpassword').hasError('required')">
                           Please confirm your password. 
                        </mat-error>
                        <mat-error *ngIf="registerForm.get('cpassword').hasError('mustMatch')">
                           Password must match.
                        </mat-error>
                      </mat-form-field>
                    </div>
                 </div>
               </div>
               <div class="form-group row mb-md-3 mb-0"> 
                  <div class="col-md-12">
                    <div class="position-relative">
                       <mat-form-field floatLabel="never" hideRequiredMarker>
                        <mat-label>Select a Country</mat-label>
                        <mat-select formControlName="country" required class="form-control-custom w-100" name="cars" id="cars">
                           <mat-option value="United Kingdom">United Kingdom</mat-option>
                           <mat-option value="India">India</mat-option>
                           <mat-option value="Russia">Russia</mat-option>
                        </mat-select>
                        <mat-error *ngIf="registerForm.get('country').hasError('required')">Please choose a country</mat-error>
                       </mat-form-field>   
                    </div>
                 </div>
               </div>
               <div class="login_with">
                  <span>I want to</span>
               </div> 
               <div class="row infulencer_account_tabs justify-content-center">
                  <div class="col-md-10 col-12"> 
                     <mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)" animationDuration="0ms" [selectedIndex]="this.selectedTab">
                        <mat-tab>
                           <ng-template mat-tab-label class="nav nav-tabs" id="nav-tab">
                              <a class="nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
                               aria-selected="true">Hire an Influencer</a>
                           </ng-template>
                           <div class="col-12 mt-4 pt-md-3">
                              <div class="tab-content" id="nav-tabContent">
                                 <div class="tab-pane" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"> 
                                 </div>
                              </div>
                           </div>
                        </mat-tab>
                        <mat-tab>
                           <ng-template mat-tab-label class="nav nav-tabs" id="nav-tab">
                              <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile">Become a Gramgenie Influencer</a> 
                           </ng-template> 
                           <div class="col-12 mt-2 pt-md-3">
                              <div class="tab-content" id="nav-tabContent">
                                 <div class="tab-pane active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    <div class="form-group row mb-md-4 mb-4"> 
                                       <div class="col-md-12">
                                         <div class="position-relative w-100" >
                                            <mat-form-field floatLabel="never">
                                                <input matInput type="text" formControlName="username" value="" class="form-control-custom Username_field  w-100" placeholder="Username">
                                                <mat-error *ngIf="registerForm.get('username').hasError('required')">
                                                   Username is required. 
                                                </mat-error>
                                            </mat-form-field>
                                         </div>
                                      </div> 
                                    </div> 
                                 </div>
                              </div>
                           </div>
                        </mat-tab>
                      </mat-tab-group>
                  </div>
               </div>
               <div class="form-group row mb-md-4 mb-4">  
                  <div class="col-md-12">
                      <div>
                         <mat-checkbox formControlName="check" (change)="onChkChange($event)">I agree to the <a href="javascript:;">Terms and Conditions</a>.</mat-checkbox>
                      </div>
                  </div>
                </div>
               <div class="form-group row mb-md-4 mb-0">  
                  <div class="col-md-12 text-center">
                     <button mat-flat-button type="submit" class="btn_continue" [disabled]="!this.registerForm.valid"
                      >Continue</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</section>

<app-footer></app-footer>